﻿@model QuarkWeb.BLL.Models.Entities.JobApplication
@{
    ViewBag.Title = "ApplyJob";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h3 class="h3-class login-div">Apply for Job</h3><br />

<div class="container" style="width:85%" >
    @using (Html.BeginForm("SendEmailForJob", "Account", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {

            @*<form role="form" method="post" action="/Index/SendMessage">*@

            <div class="form-group resume-td-left" >
                <label>Possition Name</label>
                @Html.TextBoxFor(model => Model.Possition, new { @class = "form-control textbox-size", maxlength = "30", tabindex = "2", @required = "required", @readonly = true })
            </div>

            <div class="form-group resume-td-right">
                <label>Job Description</label>
                @Html.TextBoxFor(model => Model.Description, new { @class = "form-control textbox-size", maxlength = "300", tabindex = "3", @required = "required", @readonly = true })
            </div>
            <div class="form-group resume-td-left">
                <label>Required Experience</label> 
                @Html.TextBoxFor(model => Model.Experience, new { @class = "form-control textbox-size", maxlength = "50", tabindex = "4", @required = "required", @readonly = true })
            </div>
            <div class="form-group resume-td-right">
                <label>Salary Range </label>
                @Html.TextBoxFor(model => Model.Salary, new { @class = "form-control textbox-size", maxlength = "50", tabindex = "4", @required = "required", @readonly = true })
            </div>
            <div class="form-group resume-td-left" >
                <label>Resume </label>
                <input type="file" name="fileUploader" style="font-size:large" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
            <div class="form-group resume-td-right" >
                <button type="submit" class="btn btn-primary" style="font-size:large">Add New Job</button>
            </div>
            @*</form>*@
    }
</div>

