﻿
@{
    ViewBag.Title = "Thank you";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row login-div col-md-3 col-sm-3 col-xs-3">Thanks applying with Quarkcity India</div><br /><br />
<div class="container row login-div">
    <img src="~/Content/images/quarkimg.jpg" />
</div>

