﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.envr_left1 {
    width: 60%;
    float: left;
    padding-top: 50px;
}
.envr_right1 {
    float: right;
     width: 60%;
       padding-top: 0px;
}
.envr_left2 {
    float: left;
     width: 50%;
     padding-top: 0px;
}
.contaner_right {
    width: 72%;
    min-height: 400px;
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 50px;
}


.contentdesk {
    width: 70%;
    float: left;
     padding-bottom: 10px;
}
.desk-img {
width:30%;
float:left;
padding-top:10px
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
 .bs-example{
    	margin: 20px;
    }
    .modal-content iframe{
        margin: 0 auto;
        display: block;
    }



