﻿<!DOCTYPE html>
<html>
<head>
    <title>Quarkcity India Pvt. Ltd</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--
    Smoothy Template
    http://www.templatemo.com/tm-396-smoothy
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/templatemo_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/css/nivo-slider.css">
    <link rel="stylesheet" href="~/Content/css/slimbox2.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/JavaScript" src="~/Scripts/js/slimbox2.js"></script>



    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
   

    <script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_flicker", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

    </script>

</head>
<body>
<header>
        <!-- start menu -->
        <div id="templatemo_home">
            <div class="templatemo_top">
                <div class="container templatemo_container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <div class="logo">
                                <a href="/Index/Index"><img src="/Content/images/templatemo_logo.jpg" alt="smoothy html5 template"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 templatemo_col9">
                            <div id="top-menu">
                                <nav class="mainMenu">
                                    <ul class="nav">
                                       
                                        <li><a class="menu" href="/Index/Index">Home</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- end menu -->
        
        <div class="container-fluid">
            <img src="~/Content/images/jobs5.jpg" />
            @*<img src="~/Content/images/jobs4.jpg" />*@
           
            @*<img src="~/Content/images/slider/quark-offices.jpg" />*@
   
        </div>
    </header>
     


  

    
    <div class="container-fluid body-content">
        @RenderBody()
       
          <div class="templatemo_footer">
            <div class="container">
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>About Quarkcity India <img class="heading-icon" src="~/Content/images/heading-icon.png" /></h2>
                    
                    <p class="footer-para" style="
  
">Our mission is to build world class Real Estate concepts across all business lines with highest standard of safety, Professionalism, Ethics, Quality, Customer service, Social responsibility and Compliance</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                          </div>
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Services <img class="heading-icon" src="~/Content/images/heading-icon.png" /></h2>
                     <ul>
                        <li><a href="/Index/Offices">Commercial buildings</a></li>
                        <li><a href="/Index/Residential">residential buildings</a></li>
                        <li><a href="/Index/Offices">Offices</a></li>
                        <li><a href="javascript:void(0)">Hotels</a></li>
                        <li><a href="/Index/leasing">Leasing</a></li>
                    </ul>
                    <div class="clear"></div>
                   
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12 empty">
                 </div>                
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Contact  <img class="heading-icon" src="~/Content/images/heading-icon.png" /></h2>
                   
                    <span class="left col-xs-1 fa fa-map-marker"></span>
                    <span class="right col-xs-11">A-40A, Industrial Focal Point Phase VIII Extension</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-phone"></span>
                    <span class="right col-xs-11">+91-172-5096666</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-envelope"></span>
                    <span class="right col-xs-11">leasing@quarkcity.com</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-globe"></span>
                    <span class="right col-xs-11">www.quarkcity.com</span>
                    <div class="clear"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                </div>
            </div>
        </div>
     
        <div class="templatemo_bottom">
            <div class="container">
                <div class="row">
                    <div class="left">
                        <span>Copyright © @DateTime.Now.Year <a href="#">QuarkCity India Pvt. Ltd</a></span>
                    </div>
                    <div class="right">
                        <a href="#"><div class="fa fa-rss soc"></div></a>
                        <a href="#"><div class="fa fa-twitter soc"></div></a>
                        <a href="#"><div class="fa fa-linkedin soc"></div></a>
                        <a href="#"><div class="fa fa-dribbble soc"></div></a>
                        <a href="#"><div class="fa fa-facebook soc"></div></a>
                    </div>
                </div>
            </div>
        </div>
        <script>$.fn.cycle.defaults.autoSelector = '.slideshow';</script>

        <script type="text/javascript">

      $(function(){
          var default_view = 'grid';
          if($.cookie('view') !== 'undefined'){
              $.cookie('view', default_view, { expires: 7, path: '/' });
          }
          function get_grid(){
              $('.list').removeClass('list-active');
              $('.grid').addClass('grid-active');
              $('.prod-cnt').animate({opacity:0},function(){
                  $('.prod-cnt').removeClass('dbox-list');
                  $('.prod-cnt').addClass('dbox');
                  $('.prod-cnt').stop().animate({opacity:1});
              });
          }
          function get_list(){
              $('.grid').removeClass('grid-active');
              $('.list').addClass('list-active');
              $('.prod-cnt').animate({opacity:0},function(){
                  $('.prod-cnt').removeClass('dbox');
                  $('.prod-cnt').addClass('dbox-list');
                  $('.prod-cnt').stop().animate({opacity:1});
              });
          }
          if($.cookie('view') == 'list'){
              $('.grid').removeClass('grid-active');
              $('.list').addClass('list-active');
              $('.prod-cnt').animate({opacity:0});
              $('.prod-cnt').removeClass('dbox');
              $('.prod-cnt').addClass('dbox-list');
              $('.prod-cnt').stop().animate({opacity:1});
          }

          if($.cookie('view') == 'grid'){
              $('.list').removeClass('list-active');
              $('.grid').addClass('grid-active');
              $('.prod-cnt').animate({opacity:0});
                  $('.prod-cnt').removeClass('dboxlist');
                  $('.prod-cnt').addClass('dbox');
                  $('.prod-cnt').stop().animate({opacity:1});
          }

          $('#list').click(function(){
              $.cookie('view', 'list');
              get_list()
          });

          $('#grid').click(function(){
              $.cookie('view', 'grid');
              get_grid();
          });

          /* filter */
          $('.menuSwitch ul li').click(function(){
              var CategoryID = $(this).attr('category');
              $('.menuSwitch ul li').removeClass('cat-active');
              $(this).addClass('cat-active');

              $('.prod-cnt').each(function(){
                  if(($(this).hasClass(CategoryID)) == false){
                     $(this).css({'display':'none'});
                  };
              });
              $('.'+CategoryID).fadeIn();

          });
      });
        </script>
        <script src="~/Scripts/js/jquery.singlePageNav.js"></script>

        <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          prevText: '',
          nextText: '',
          controlNav: false,
        });
    });
        </script>
        <script>
      $(document).ready(function(){

        // hide #back-top first
        $("#back-top").hide();

        // fade in #back-top
        $(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#back-top').fadeIn();
            } else {
              $('#back-top').fadeOut();
            }
          });

          // scroll body to 0px on click
          $('#back-top a').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 800);
            return false;
          });
        });

      });
        </script>
        <script type="text/javascript">
      <!--
          function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.display == 'block'){
                e.style.display = 'none';
                $('#togg').text('show footer');
            }
             else {
                e.style.display = 'block';
                $('#togg').text('hide footer');
            }
          }
      //-->
        </script>
        @*drop down menu*@
        <script>
    $('.dropdown').hover(
        function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
        },
        function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
        }
    );

    $('.dropdown-menu').hover(
        function() {
            $(this).stop(true, true);
        },
        function() {
            $(this).stop(true, true).delay(200).fadeOut();
        }
    );

        </script>
        <script type="text/javascript">
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
        </script>
        <script src="~/Scripts/js/stickUp.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        //initiating jQuery
        jQuery(function($) {
          $(document).ready( function() {
            //enabling stickUp on the '.navbar-wrapper' class
            $('.mWrapper').stickUp();
          });
        });
        </script>
        <script>
     $('a.menu').click(function(){
    $('a.menu').removeClass("active");
    $(this).addClass("active");
	});
        </script>

        <script>


      	 // Cache selectors
var lastId,
    topMenu = $("#top-menu"),
    topMenuHeight = topMenu.outerHeight()+15,
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e){
  var href = $(this).attr("href"),
      offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({
      scrollTop: offsetTop
  }, 300);
  e.preventDefault();
});

// Bind to scroll
$(window).scroll(function(){
   // Get container scroll position
   var fromTop = $(this).scrollTop()+topMenuHeight;

   // Get id of current scroll item
   var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   // Get the id of the current element
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";

   if (lastId !== id) {
       lastId = id;
       // Set/remove active class
       menuItems
         .parent().removeClass("active")
         .end().filter("[href=#"+id+"]").parent().addClass("active");
   }
});
        </script>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sliderjs")
    @RenderSection("scripts", required: false)

</body>
</html>

