﻿<!DOCTYPE html>
<html>
<head>
    <title>Quarkcity India Pvt. Ltd</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--
    Smoothy Template
    http://www.templatemo.com/tm-396-smoothy
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/templatemo_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/slimbox2.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <link href="~/Content/css/demo.css" rel="stylesheet" />
 
    <link href="~/Content/css/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
       

</head>
<body>
    <header>
        <!-- start menu -->
        <div id="templatemo_home">
            <div class="templatemo_top">
                <div class="container-fluid templatemo_container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <div class="logo">
                                <a href="/Index/Index"><img src="~/Content/images/templatemo_logo.jpg" alt="smoothy html5 template"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 templatemo_col9">
                            <div id="top-menu">
                                <nav class="mainMenu">
                                    <ul class="nav"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- end menu -->
       

        <div class="container-fluid">
            <img src="~/Content/images/residential-banner.jpg" />
        </div>

    </header>
    <div class="container-fluid body-content">
        @RenderBody()
<div class="templatemo_footer">
            <div class="container">
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>About Quarkcity India <img class="heading-icon" src="/Content/images/heading-icon.png"></h2>
                    
                    <p class="footer-para" style="
  
">Our mission is to build world class Real Estate concepts across all business lines with highest standard of safety, Professionalism, Ethics, Quality, Customer service, Social responsibility and Compliance</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                          </div>
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Services <img class="heading-icon" src="/Content/images/heading-icon.png"></h2>
                    
                                     <ul>
                        <li><a href="/Index/Offices">Commercial buildings</a></li>
                        <li><a href="/Index/Residential">residential buildings</a></li>
                        <li><a href="/Index/Offices">Offices</a></li>
                        <li><a href="javascript:void(0)">Hotels</a></li>
                        <li><a href="/Index/leasing">Leasing</a></li>
                    </ul>
                    <div class="clear"></div>
                   
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12 empty">
                 </div>                
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Contact  <img class="heading-icon" src="/Content/images/heading-icon.png"></h2>
                   
                    <span class="left col-xs-1 fa fa-map-marker"></span>
                    <span class="right col-xs-11">A-40A, Industrial Focal Point Phase VIII Extension</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-phone"></span>
                    <span class="right col-xs-11">+91-172-5096666</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-envelope"></span>
                    <span class="right col-xs-11">leasing@quarkcity.com</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-globe"></span>
                    <span class="right col-xs-11">www.quarkcity.com</span>
                    <div class="clear"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                </div>
            </div>
        </div>

        <div class="templatemo_bottom">
            <div class="container">
                <div class="row">
                    <div class="left">
                        <span>Copyright © 2016 <a href="#">QuarkCity India Pvt. Ltd</a></span>
                    </div>
                    <div class="right">
                        <a href="#"><div class="fa fa-rss soc"></div></a>
                        <a href="#"><div class="fa fa-twitter soc"></div></a>
                        <a href="#"><div class="fa fa-linkedin soc"></div></a>
                        <a href="#"><div class="fa fa-dribbble soc"></div></a>
                        <a href="#"><div class="fa fa-facebook soc"></div></a>
                    </div>
                </div>
            </div>
        </div>
       


    </div>
<!-- Grab Google CDN's jQuery, fall back to local if offline -->
  		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  		<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
     
	<!-- FancyBox -->
    <script src="~/Scripts/fancy-js/jquery.easing-1.3.pack.js"></script>
    <script src="~/Scripts/fancy-js/jquery.fancybox-buttons.js"></script>
    <script src="~/Scripts/fancy-js/jquery.fancybox-thumbs.js"></script>
    <script src="~/Scripts/fancy-js/jquery.fancybox.js"></script>
    <script src="~/Scripts/fancy-js/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/fancy-js/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox();
            });
		</script>



</body>
</html>

