﻿
<!DOCTYPE html>
<html>
<head>
    <title>Quarkcity India Pvt. Ltd</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--
    Smoothy Template
    http://www.templatemo.com/tm-396-smoothy
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> 
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/templatemo_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="~/Content/css/slimbox2.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/JavaScript" src="~/Scripts/js/slimbox2.js"></script>   
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">  
       
  
    <style>
  .sidenav {
    height: 100%;
    width: 0;
    
    z-index: 12222;
    top: 0;
    left: 0px;
    background-color: #333537;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: absolute !important;
  
}
ul.nav.navbar-nav.tog-side {
    margin: 0;
}
ul.nav.navbar-nav.tog-side>li {
    position: relative;
    display: block;
    border: 1px solid #4e4e4e;
    border-left: none;
    border-right: none;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
color: #F68932;
}
ul.nav.navbar-nav.tog-side .nav>li>a:focus {
    text-decoration: none;
    background-color: #F68932 !important;
}
ul.nav.navbar-nav.tog-side li   {
   width:100%;
}



.sidenav .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #F78B36;
}
ul.nav.navbar-nav.about-sub-menu li {
    margin: 0;
    
}
ul.nav.navbar-nav.about-sub-menu {
    margin: 0;
}
  /*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @@media only screen and
  (min-device-width: 320px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "First Name"; }
    td:nth-of-type(2):before { content: "Last Name"; }
    td:nth-of-type(3):before { content: "Job Title"; }
    td:nth-of-type(4):before { content: "Favorite Color"; }
    td:nth-of-type(5):before { content: "Wars of Trek?"; }
    td:nth-of-type(6):before { content: "Porn Name"; }
    td:nth-of-type(7):before { content: "Date of Birth"; }
    td:nth-of-type(8):before { content: "Dream Vacation City"; }
    td:nth-of-type(9):before { content: "GPA"; }
    td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }

  /* Smartphones (portrait and landscape) ----------- */
  @@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    table{
      width: 100%;
      display: block;
      background-color:white;
      }
    }

  /* iPads (portrait and landscape) ----------- */
  @@media only screen and (min-device-width: 768px){
    table {
      width:100%;
    }
  }
s
    </style>


   

</head>
<body>
    <header>
        <!-- start menu -->
        <div id="templatemo_home">
            <div class="templatemo_top">
                <div class="container templatemo_container">
                <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>





 <ul class="nav navbar-nav tog-side">
      <li class="active"><a href="#">Home</a></li>


  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         About <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<ul class="nav navbar-nav about-sub-menu" >
         <li> <a class="dropdown-item" href="#">Overview</a></li>
        <li>  <a class="dropdown-item" href="#">Facilities</a></li>
          <li><a class="dropdown-item" href="#">vision and mission</a></li>
<li><a class="dropdown-item" href="#">Layout</a></li>
          <li><a class="dropdown-item" href="#">Env/Quality Policy</a></li>
</ul>
        </div>
      </li>

      <li><a href="#">Projects</a></li>
      <li><a href="#">Facilities</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">career</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

</div>
                            <div id="top-menu">
<!--                                 <nav class="mainMenu">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  -->
  
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-xs-12 logo-part">
                            <div class="logo">
                                
                               <a href="/Index/Index"> <img src="~/Content/images/quark-logo.jpg" /></a>
                               
                            </div>
                        </div>   
                        <div class="col-sm-9 col-md-9 templatemo_col9">
<button type="button" class="navbar-toggle collapsed tog" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
        
        
     
       
      </button>
                                    
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="nav">
                                        <li><a class="menu" href="#templatemo_home">Home</a></li>
                                        <li class="dropdown"><a class="menu" href="#templatemo_about">About <i class="fa fa-caret-down" aria-hidden="true"></i>
 </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/Index/QuarkcityOverview" target="_blank">Overview</a></li>
                                                <li><a href="/Index/Facilities" target="_blank">Facilities</a></li> 
                                                 @*<li><a href="javascript:void(0)" target="_blank">Products</a></li>*@                                                  
                                                <li><a href="/Index/Vision" target="_blank">vision and mission</a></li>
                                                <li><a href="/Index/Layout" target="_blank">Layout</a></li>                                                                                    
                                                <li><a href="/Index/EnvPolicy" target="_blank">Env/Quality Policy</a></li>
                                                @*<li><a href="/Index/Facilities" target="_blank">Facilities</a></li>*@
                                            </ul> 
                                        </li>
                                        <li><a class="menu" href="#templatemo_portfolio">Facilities</a></li>
  <li><a class="menu" href="#services_blog">Services</a></li>
                                        <li><a class="menu" href="#templatemo_blog">Projects</a></li>
                                        <li>@*<a class="menu" href="#templatemo_products">Products</a>*@</li>
                                      
                                        <li><a class="menu" href="#templatemo_job">Career</a></li>                                        
                                        <li><a class="menu" href="#templatemo_contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
        </div>
        <div class="clear"></div>
        <!-- end menu -->
        @*<div id="slider" class="nivoSlider templatemo_slider">
            <a href="#"><img src="~/Content/images/slider/slider1.jpg" alt="slide 1" /></a>
            <a href="#"><img src="~/Content/images/slider/slider2.jpg" alt="slide 2" /></a>
            <a href="#"><img src="~/Content/images/slider/img_3_blank.jpg" alt="slide 3" /></a>
        </div>*@
       
        <div class="container-fluid">
            <!-- Indicators -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/images/slider3.jpg" alt="Chania" style="width:100%">
                        <div class="carousel-caption">
                             <h2 style="color:white">Welcome to Quarkcity</h2>
                            <p style="color:ivory">QuarkCity is a multi-use development that includes Offices, Residentials, Retails and  Special Economic Zone (SEZ).</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/images/slider/slider4.jpg" alt="Chania" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Quarkcity Offices</h2>
                            <p style="color:ivory">Welcome to Landmark plaza, Punjab's most recent oofice development.Approximately 60,000 m<sup>2</sup> of net rentable area distributed over 14 storeys.</p>
                        </div>
                    </div>  
                    <div class="item">
                        <img src="~/Content/images/slider/slider5.jpg" alt="Flower" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Quarkcity Residential</h2>
                            <p style="color:ivory">QuarkCity,welcomes you to Villa Verde an enticing collection of two and three-bedroom apartments, duplexes, penthouses, and townhouses, in the heart of an established urban neighbourhood of Mohali.</p>
                            
                        </div>
                       
                    </div>
                    <div class="item">
                        <img src="~/Content/images/slider1.jpg" alt="Flower" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Quarkcity Malls</h2>
                            <p style="color:ivory">Quarkcity,Our development and construction teams reach across India and the world to bring the best in architecture and technology to our projects.</p>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="false"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
            </div>
        </div>



        
    </header>
    <div class="container-fluid body-content">
        @RenderBody()
        
  
        <div class="templatemo_footer">
            <div class="container">
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>About Quarkcity India <img class="heading-icon" src="~/Content/images/heading-icon.png" /></h2>
                    
                    <p class="footer-para" style="
  
">Our mission is to build world class Real Estate concepts across all business lines with highest standard of safety, Professionalism, Ethics, Quality, Customer service, Social responsibility and Compliance</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                          </div>
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Services <img class="heading-icon" src="~/Content/images/heading-icon.png" /></h2>
                    
                    <ul>
                        <li><a href="/Index/Offices">Commercial buildings</a></li>
                        <li><a href="/Index/Residential">residential buildings</a></li>
                        <li><a href="/Index/Offices">Offices</a></li>
                        <li><a href="javascript:void(0)">Hotels</a></li>
                        <li><a href="/Index/leasing">Leasing</a></li>
                    </ul>
                    <div class="clear"></div>
                   
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12 empty">
                 </div>                
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Contact  <img class="heading-icon" src="~/Content/images/heading-icon.png" /></h2>
                   
                    <span class="left col-xs-1 fa fa-map-marker"></span>
                    <span class="right col-xs-11">A-40A, Industrial Focal Point Phase VIII Extension</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-phone"></span>
                    <span class="right col-xs-11">+91-172-5096666</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-envelope"></span>
                    <span class="right col-xs-11">leasing@quarkcity.com</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-globe"></span>
                    <span class="right col-xs-11">www.quarkcity.com</span>
                    <div class="clear"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                </div>
            </div>
        </div>
     
        <div class="templatemo_bottom">
            <div class="container">
                <div class="row">
                    <div class="left">
                        <span>Copyright © @DateTime.Now.Year <a href="#">QuarkCity India Pvt. Ltd</a></span>
                    </div>
                    <div class="right">
                        <a href="#"><div class="fa fa-rss soc"></div></a>
                        <a href="#"><div class="fa fa-twitter soc"></div></a>
                        <a href="#"><div class="fa fa-linkedin soc"></div></a>
                        <a href="#"><div class="fa fa-dribbble soc"></div></a>
                        <a href="#"><div class="fa fa-facebook soc"></div></a>
                    </div>
                </div>
            </div>
        </div>
      
        
        <script type="text/javascript">
            $(function () {
                $('#linkId').click(function () {
                    $.get(this.href, function (result) {
                        $(result).dialog();
                    });
                    return false;
                });
            });
            $(function () {
                var default_view = 'grid';
                if ($.cookie('view') !== 'undefined') {
                    $.cookie('view', default_view, { expires: 7, path: '/' });
                }
                function get_grid() {
                    $('.list').removeClass('list-active');
                    $('.grid').addClass('grid-active');
                    $('.prod-cnt').animate({ opacity: 0 }, function () {
                        $('.prod-cnt').removeClass('dbox-list');
                        $('.prod-cnt').addClass('dbox');
                        $('.prod-cnt').stop().animate({ opacity: 1 });
                    });
                }

                function get_list() {
                    $('.grid').removeClass('grid-active');
                    $('.list').addClass('list-active');
                    $('.prod-cnt').animate({ opacity: 0 }, function () {
                        $('.prod-cnt').removeClass('dbox');
                        $('.prod-cnt').addClass('dbox-list');
                        $('.prod-cnt').stop().animate({ opacity: 1 });
                    });
                }
                if ($.cookie('view') == 'list') {
                    $('.grid').removeClass('grid-active');
                    $('.list').addClass('list-active');
                    $('.prod-cnt').animate({ opacity: 0 });
                    $('.prod-cnt').removeClass('dbox');
                    $('.prod-cnt').addClass('dbox-list');
                    $('.prod-cnt').stop().animate({ opacity: 1 });
                }

                if ($.cookie('view') == 'grid') {
                    $('.list').removeClass('list-active');
                    $('.grid').addClass('grid-active');
                    $('.prod-cnt').animate({ opacity: 0 });
                    $('.prod-cnt').removeClass('dboxlist');
                    $('.prod-cnt').addClass('dbox');
                    $('.prod-cnt').stop().animate({ opacity: 1 });
                }

                $('#list').click(function () {
                    $.cookie('view', 'list');
                    get_list()
                });

                $('#grid').click(function () {
                    $.cookie('view', 'grid');
                    get_grid();
                });

                /* filter */
                $('.menuSwitch ul li').click(function () {
                    var CategoryID = $(this).attr('category');
                    $('.menuSwitch ul li').removeClass('cat-active');
                    $(this).addClass('cat-active');

                    $('.prod-cnt').each(function () {
                        if (($(this).hasClass(CategoryID)) == false) {
                            $(this).css({ 'display': 'none' });
                        };
                    });
                    $('.' + CategoryID).fadeIn();

                });
            });
        </script>
        
        
        </script>

       
        <script>
            $(document).ready(function () {

                // hide #back-top first
                $("#back-top").hide();

                // fade in #back-top
                $(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 100) {
                            $('#back-top').fadeIn();
                        } else {
                            $('#back-top').fadeOut();
                        }
                    });

                    // scroll body to 0px on click
                    $('#back-top a').click(function () {
                        $('body,html').animate({
                            scrollTop: 0
                        }, 800);
                        return false;
                    });
                });

            });
        </script>
        <script type="text/javascript">
      <!--

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block') {
            e.style.display = 'none';
            $('#togg').text('show footer');
        }
        else {
            e.style.display = 'block';
            $('#togg').text('hide footer');
        }
    }
    //-->
        </script>
        @*drop down menu*@
        <script>
            $('.dropdown').hover(
                function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
                },
                function () {
                    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
                }
            );

            $('.dropdown-menu').hover(
                function () {
                    $(this).stop(true, true);
                },
                function () {
                    $(this).stop(true, true).delay(200).fadeOut();
                }
            );

        </script>
        <script type="text/javascript">
            $(function () {
                $('a[href*=#]:not([href=#])').click(function () {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
      
        <script>
            $('a.menu').click(function () {
                $('a.menu').removeClass("active");
                $(this).addClass("active");
            });
        </script>

        <script>

            // Cache selectors
            var lastId,
                topMenu = $("#top-menu"),
                topMenuHeight = topMenu.outerHeight() + 15,
                // All list items
                menuItems = topMenu.find("a"),
                // Anchors corresponding to menu items
                scrollItems = menuItems.map(function () {
                    var item = $($(this).attr("href"));
                    if (item.length) { return item; }
                });

            // Bind click handler to menu items
            // so we can get a fancy scroll animation
            menuItems.click(function (e) {
                var href = $(this).attr("href"),
                    offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
                $('html, body').stop().animate({
                    scrollTop: offsetTop
                }, 300);
                e.preventDefault();
            });

            // Bind to scroll
            $(window).scroll(function () {
                // Get container scroll position
                var fromTop = $(this).scrollTop() + topMenuHeight;

                // Get id of current scroll item
                var cur = scrollItems.map(function () {
                    if ($(this).offset().top < fromTop)
                        return this;
                });
                // Get the id of the current element
                cur = cur[cur.length - 1];
                var id = cur && cur.length ? cur[0].id : "";

                if (lastId !== id) {
                    lastId = id;
                    // Set/remove active class
                    menuItems
                      .parent().removeClass("active")
                      .end().filter("[href=#" + id + "]").parent().addClass("active");
                }
            });
        </script>
      
    </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "230px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
</script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sliderjs")
    @RenderSection("scripts", required: false)
   
</body>
</html>
