﻿<!DOCTYPE html>
<html>
<head>
    <title>Quarkcity India Pvt. Ltd</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--
    Smoothy Template
    http://www.templatemo.com/tm-396-smoothy
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/templatemo_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/templatemo_misc.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/css/nivo-slider.css">
    <link rel="stylesheet" href="~/Content/css/slimbox2.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/JavaScript" src="~/Scripts/js/slimbox2.js"></script>


    <link rel="stylesheet" type="text/css" href="~/Content/css/ddsmoothmenu.css" />
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/ddsmoothmenu.js"></script>

    <script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_flicker", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

    </script>

</head>
<body>
    <header>
        <!-- start menu -->
        <div id="templatemo_home">
            <div class="templatemo_top">
                <div class="container templatemo_container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <div class="logo">
                                <a href="/Index/Index"><img src="~/Content/images/templatemo_logo.jpg" alt="smoothy html5 template"></a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 templatemo_col9">
                            <div id="top-menu">
                                <nav class="mainMenu">
                                    <ul class="nav">
                                        <li><a class="menu" href="/Index/Index">Home</a></li>
                                        <li><a href="/Index/QuarkcityOverview">Overview</a></li>
                                        <li><a href="javascript:void(0)">Facilities</a></li>
                                        <li><a href="javascript:void(0)">Products</a></li>
                                        <li><a class="menu" href="/Account/Career">Career</a></li>
                                        <li><a class="menu" href="#templatemo_contact">Contact</a></li>
                                     
                                       
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- end menu -->
        @*<div id="slider" class="nivoSlider templatemo_slider">
                <a href="#"><img src="~/Content/images/slider/img_1_blank.jpg" alt="slide 1" /></a>
                <a href="#"><img src="~/Content/images/slider/img_2_blank.jpg" alt="slide 2" /></a>
                <a href="#"><img src="~/Content/images/slider/img_3_blank.jpg" alt="slide 3" /></a>
            </div>*@

        <div class="container">
            <!-- Indicators -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Content/images/slider/quark-home.jpg" alt="Chania" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Welcome to Quarkcity</h2>
                            <p style="color:ivory">QuarkCity is a multi-use development that includes Offices, Residentials, Retails and  Special Economic Zone (SEZ).</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/images/slider/img_1_blank.jpg" alt="Chania" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Quarkcity Commercial</h2>
                            <p style="color:ivory">Welcome to Landmark plaza, Punjab's most recent oofice development.Approximately 60,000 m<sup>2</sup> of net rentable area distributed over 14 storeys.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/images/slider/r7-home1.jpg" alt="Flower" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Quarkcity Residential</h2>
                            <p style="color:ivory">QuarkCity,welcomes you to Villa Verde an enticing collection of two and three-bedroom apartments, duplexes, penthouses, and townhouses, in the heart of an established urban neighbourhood of Mohali.</p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Content/images/slider/shpping-mall.jpg" alt="Flower" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white">Quarkcity Malls</h2>
                            <p style="color:ivory">Quarkcity,Our development and construction teams reach across India and the world to bring the best in architecture and technology to our projects.</p>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="false"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
            </div>
        </div>

    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="templatemo_footer">
            <div class="container">
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>About Quarkcity India</h2>
                    <p>Our mission is to build world class Real Estate concepts across all business lines with highest standard of safety, Professionalism, Ethics, Quality, Customer service, Social responsibility and Compliance</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Services</h2>
                    <ul>
                        <li>Commercial buildings</li>
                        <li>residential buildings</li>
                        <li>Offices</li>
                        <li>Hotels</li>
                        <li>Leasing</li>
                    </ul>
                    <div class="clear"></div>
                    <div class="templatemo_morelink"><a href="#">and more... </a></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
                    <h2>Contact</h2>
                    <span class="left col-xs-1 fa fa-map-marker"></span>
                    <span class="right col-xs-11">A-40A, Industrial Focal Point Phase VIII Extension</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-phone"></span>
                    <span class="right col-xs-11">+91-172-5096666</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-envelope"></span>
                    <span class="right col-xs-11">leasing@quarkcity.com</span>
                    <div class="clear height10"></div>
                    <span class="left col-xs-1 fa fa-globe"></span>
                    <span class="right col-xs-11">www.quarkcity.com</span>
                    <div class="clear"></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 templatemo_col12">
                </div>
            </div>
        </div>

        <div class="templatemo_bottom">
            <div class="container">
                <div class="row">
                    <div class="left">
                        <span>Copyright © 2016 <a href="#">QuarkCity India Pvt. Ltd</a></span>
                    </div>
                    <div class="right">
                        <a href="#"><div class="fa fa-rss soc"></div></a>
                        <a href="#"><div class="fa fa-twitter soc"></div></a>
                        <a href="#"><div class="fa fa-linkedin soc"></div></a>
                        <a href="#"><div class="fa fa-dribbble soc"></div></a>
                        <a href="#"><div class="fa fa-facebook soc"></div></a>
                    </div>
                </div>
            </div>
        </div>
        <script>$.fn.cycle.defaults.autoSelector = '.slideshow';</script>

        <script type="text/javascript">

      $(function(){
          var default_view = 'grid';
          if($.cookie('view') !== 'undefined'){
              $.cookie('view', default_view, { expires: 7, path: '/' });
          }
          function get_grid(){
              $('.list').removeClass('list-active');
              $('.grid').addClass('grid-active');
              $('.prod-cnt').animate({opacity:0},function(){
                  $('.prod-cnt').removeClass('dbox-list');
                  $('.prod-cnt').addClass('dbox');
                  $('.prod-cnt').stop().animate({opacity:1});
              });
          }
          function get_list(){
              $('.grid').removeClass('grid-active');
              $('.list').addClass('list-active');
              $('.prod-cnt').animate({opacity:0},function(){
                  $('.prod-cnt').removeClass('dbox');
                  $('.prod-cnt').addClass('dbox-list');
                  $('.prod-cnt').stop().animate({opacity:1});
              });
          }
          if($.cookie('view') == 'list'){
              $('.grid').removeClass('grid-active');
              $('.list').addClass('list-active');
              $('.prod-cnt').animate({opacity:0});
              $('.prod-cnt').removeClass('dbox');
              $('.prod-cnt').addClass('dbox-list');
              $('.prod-cnt').stop().animate({opacity:1});
          }

          if($.cookie('view') == 'grid'){
              $('.list').removeClass('list-active');
              $('.grid').addClass('grid-active');
              $('.prod-cnt').animate({opacity:0});
                  $('.prod-cnt').removeClass('dboxlist');
                  $('.prod-cnt').addClass('dbox');
                  $('.prod-cnt').stop().animate({opacity:1});
          }

          $('#list').click(function(){
              $.cookie('view', 'list');
              get_list()
          });

          $('#grid').click(function(){
              $.cookie('view', 'grid');
              get_grid();
          });

          /* filter */
          $('.menuSwitch ul li').click(function(){
              var CategoryID = $(this).attr('category');
              $('.menuSwitch ul li').removeClass('cat-active');
              $(this).addClass('cat-active');

              $('.prod-cnt').each(function(){
                  if(($(this).hasClass(CategoryID)) == false){
                     $(this).css({'display':'none'});
                  };
              });
              $('.'+CategoryID).fadeIn();

          });
      });
        </script>
        <script src="~/Scripts/js/jquery.singlePageNav.js"></script>

        <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          prevText: '',
          nextText: '',
          controlNav: false,
        });
    });
        </script>
        <script>
      $(document).ready(function(){

        // hide #back-top first
        $("#back-top").hide();

        // fade in #back-top
        $(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
              $('#back-top').fadeIn();
            } else {
              $('#back-top').fadeOut();
            }
          });

          // scroll body to 0px on click
          $('#back-top a').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 800);
            return false;
          });
        });

      });
        </script>
        <script type="text/javascript">
      <!--
          function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.display == 'block'){
                e.style.display = 'none';
                $('#togg').text('show footer');
            }
             else {
                e.style.display = 'block';
                $('#togg').text('hide footer');
            }
          }
      //-->
        </script>
        @*drop down menu*@
        <script>
    $('.dropdown').hover(
        function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn();
        },
        function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut();
        }
    );

    $('.dropdown-menu').hover(
        function() {
            $(this).stop(true, true);
        },
        function() {
            $(this).stop(true, true).delay(200).fadeOut();
        }
    );

        </script>
        <script type="text/javascript">
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
        </script>
        <script src="~/Scripts/js/stickUp.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        //initiating jQuery
        jQuery(function($) {
          $(document).ready( function() {
            //enabling stickUp on the '.navbar-wrapper' class
            $('.mWrapper').stickUp();
          });
        });
        </script>
        <script>
     $('a.menu').click(function(){
    $('a.menu').removeClass("active");
    $(this).addClass("active");
	});
        </script>

        <script>


      	 // Cache selectors
var lastId,
    topMenu = $("#top-menu"),
    topMenuHeight = topMenu.outerHeight()+15,
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e){
  var href = $(this).attr("href"),
      offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({
      scrollTop: offsetTop
  }, 300);
  e.preventDefault();
});

// Bind to scroll
$(window).scroll(function(){
   // Get container scroll position
   var fromTop = $(this).scrollTop()+topMenuHeight;

   // Get id of current scroll item
   var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   // Get the id of the current element
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";

   if (lastId !== id) {
       lastId = id;
       // Set/remove active class
       menuItems
         .parent().removeClass("active")
         .end().filter("[href=#"+id+"]").parent().addClass("active");
   }
});
        </script>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sliderjs")
    @RenderSection("scripts", required: false)

</body>
</html>

