﻿
@{
   
    ViewBag.Title = "Ind";
}


<div class="templatemo_lightgrey_about" id="templatemo_about">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-bell-o"></i></span>
                    </div>
                    Offices
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>QuarkCity designs, builds, leases/sells, and operates its developments and takes pride in providing high quality products at international standards.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-tablet"></i></span>
                    </div>
                    Residential Appartments
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>QuarkCity is a development in Mohali, Punjab that includes world-class residential.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-lock"></i></span>
                    </div>
                    Leasing
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>Our development and construction teams reach across India and the world to bring the best in architecture and technology to our projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-rocket"></i></span>
                    </div>
                    Retail and hotel projects
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>As a privately held development company with substantial backing from US investors, we are able to take a long-term outlook.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<div class="templatemo_reasonbg">
    <h2>Why choose us?</h2>
    <p>QuarkCity designs, builds, leases/sells, and operates its developments and takes pride in providing high quality products at international standards.</p>
    <div class="clear height10"></div>
    <div class="fa fa-bell-o"></div>
    <div class="fa fa-tablet"></div>
    <div class="fa fa-lock"></div>
    <div class="clear height20"></div>
    <a class="btn btn-large btn-primary" href="#">Read More</a>
</div>
<div class="clear"></div>
<!--Our Portfolio Start-->
<div class="templatemo_portfolio" id="templatemo_portfolio">
    <h2>Our portfolio</h2>
    <p>Project done.! Residential, Commercial, Hotels and Offices Projects.</p>

    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/1.jpg" alt="portfolio 1">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/1.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Office</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/2.jpg" alt="portfolio 2">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/2.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Office</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/3.jpg" alt="portfolio 3">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/3.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Office</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/4.jpg" alt="portfolio 4">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/4.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Office</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/5.jpg" alt="portfolio 5">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/5.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Cafe</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/6.jpg" alt="portfolio 6">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/6.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Cafe</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/7.jpg" alt="portfolio 7">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/7.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Cafe</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="portfolio-item">
                <div class="portfolio-thumb">
                    <img src="~/Content/images/portfolio/8.jpg" alt="portfolio 8">
                    <div class="overlay-p">
                        <a href="~/Content/images/portfolio/8.jpg" data-rel="lightbox[portfolio]">
                            <ul>
                                <li>Office</li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-circle"></li>
                                <li class="fa fa-circle fsmall"></li>
                                <li class="fa fa-search fa-2x"></li>
                            </ul>
                        </a>
                    </div>
                </div> <!-- /.portfolio-thumb -->
            </div>

        </div>

    </div>
    <a class="btn btn-large btn-primary" href="#">View More</a>
</div>
<!--Our Portfolio End-->
<div class="clear"></div>
<!--Our Blog Start-->
<div class="templatemo_blog" id="templatemo_blog">
    <h2>Our Products</h2>
    <p>Check out our latest projects.</p>
    <div class="clear"></div>
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="templatemo_wrapperblogbox">
                <a href="#" class="fa fa-calendar tooltip1" title="28 January 2084"></a>
                <a href="#" class="fa fa-user tooltip2" title="F3"></a>
                <a href="#" class="fa fa-tag tooltip3" title="Office"></a>
                <a href="#" class="fa fa-comment tooltip4" title="Comments (4)"></a>
            </div>
            <div class="clear"></div>
            <img src="~/Content/images/templatemo_blogimage01.jpg" alt="blog image 1">
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Office</span>
                <span class="right">
                    <a href="#" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="templatemo_wrapperblogbox">
                <a href="#" class="fa fa-calendar tooltip1" title=""></a>
                <a href="#" class="fa fa-user tooltip2" title="F3"></a>
                <a href="#" class="fa fa-tag tooltip3" title="Cafe"></a>
                <a href="#" class="fa fa-comment tooltip4" title="Comments (8)"></a>
            </div>
            <div class="clear"></div>
            <img src="~/Content/images/templatemo_blogimage02.jpg" alt="blog image 2">
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Coffee Shop</span>
                <span class="right">
                    <a href="#" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
            <div class="templatemo_wrapperblogbox">
                <a href="#" class="fa fa-calendar tooltip1" title="24 January 2084"></a>
                <a href="#" class="fa fa-user tooltip2" title="R 7"></a>
                <a href="#" class="fa fa-tag tooltip3" title="Residential"></a>
                <a href="/Home/R7" class="fa fa-comment tooltip4" title="Click to View"></a>
            </div>
            <div class="clear"></div>
            <img src="~/Content/images/templatemo_blogimage03.jpg" alt="blog image 3">
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Residential Appartments</span>
                <span class="right">
                    <a href="#" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
            <div class="templatemo_wrapperblogbox">
                <a href="#" class="fa fa-calendar tooltip1" title="22 January 2084"></a>
                <a href="#" class="fa fa-user tooltip2" title="John Walker"></a>
                <a href="#" class="fa fa-tag tooltip3" title="Logo, Creative"></a>
                <a href="#" class="fa fa-comment tooltip4" title="Comments (32)"></a>
            </div>
            <div class="clear"></div>
            <img src="~/Content/images/templatemo_blogimage04.jpg" alt="blog image 4">
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Hotels</span>
                <span class="right">
                    <a href="#" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div>
        </div>
    </div>
</div>
<!--Our Blog End-->
<!--Our Partner Start-->

<!--Our Partner End-->
<!--Our Client Start-->
<div class="templatemo_reasonbg">
    <h2>About Quarkcity desk !</h2>
    <div class="container">
        <div class="col-xs-11 templatemo_col12 templatemo_clientwrapper">
            <div class="templatemo_clientimage">
                <p class="templatemo_clientdes">Duis consequat ut quam ut sollicitudin. Donec eget congue ligula, eget pharetra urna. Nam tempor tellus sit amet bibendum dapibus.</p>
                <img src="~/Content/images/client/1.jpg" alt="client image 1" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft1"></div>
            </div>
            <div class="templatemo_clientimage">
                <p class="templatemo_clientdes">Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
                <img src="~/Content/images/client/2.jpg" alt="client image 2" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft2"></div>
            </div>
            <div class="templatemo_clientimage">
                <p class="templatemo_clientdes">Quisque tincidunt risus et enim. Vestibulum gravida sem at sem bibendum vehicula. Sed et leo. </p>
                <img src="~/Content/images/client/3.jpg" alt="client image 3" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft3"></div>
            </div>
            <div class="templatemo_clientimage next templatemo_marginleft50">
                <p class="templatemo_clientdes">Curabitur commodo arcu vel enim mollis consequat. Nulla pharetra tortor vel arcu. In rhoncus fermentum ipsum. </p>
                <img src="~/Content/images/client/4.jpg" alt="client image 4" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft4"></div>

            </div>
            <div class="templatemo_clientimage next">
                <p class="templatemo_clientdes">Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus. </p>
                <img src="~/Content/images/client/5.jpg" alt="client image 5" />
                <div class="clear"></div>
                <div class="fa fa-circle mleft5"></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>
<div class="clear"></div>
<!--Our Client End-->
<!--Contact Start -->
<div class="templatemo_lightgrey" id="templatemo_contact">
    <div class="templatemo_paracenter">
        <h2>Contact us</h2>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="templatemo_paracenter">
           Find Us or drop email!<br/>Leasing information for Landmark Plaza (SEZ) and The Atrium Building
        </div>
        <div class="clear"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="templatemo_maps">
                        <div class="fluid-wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d438943.69691749325!2d76.46208823280791!3d30.739544920720302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feefe6ee844c7%3A0xc06ae60367c5ec42!2sQuarkcity+India+Pvt+Ltd.!5e0!3m2!1sen!2sus!4v1479542786387" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <form role="form">
                                <div class="form-group">
                                    <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name" maxlength="30">
                                </div>
                                <div class="form-group">
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" maxlength="30">
                                </div>
                                <div class="form-group">
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Your Subject" maxlength="40">
                                </div>
                                <div><button type="button" class="btn btn-primary">Send Message</button></div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="txtarea">
                                <textarea name="message" rows="10" class="form-control" id="message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>