﻿@model QuarkWeb.BLL.Models.Entities.JobApplication
@{
    ViewBag.Title = "ApplyJob";
    Layout = "~/Views/Shared/Job_Layout.cshtml";
}
<div class="templatemo_lightgrey" id="">

<h3 class="jobs-title">Apply for Job !</h3><br />

<div class="container" style="width:85%" >
    @using (Html.BeginForm("SendEmailForJob", "Account", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {

            @*<form role="form" method="post" action="/Index/SendMessage">*@

            <div class="form-group resume-td-left apply-form-main" >
<div class="col-md-2 col-sm-2 col-xs-12 apply-label">
                <label class="apply-left">Possition Name</label></div>
                @Html.TextBoxFor(model => Model.Possition, new { @class = "form-control textbox-size", maxlength = "30", tabindex = "2", @required = "required", @readonly = true })
            </div>

            <div class="form-group resume-td-right">
<div class="col-md-2 col-sm-2 col-xs-12 apply-label">
                <label class="apply-left">Job Description</label></div>
                @Html.TextBoxFor(model => Model.Description, new { @class = "form-control textbox-size", maxlength = "300", tabindex = "3", @required = "required", @readonly = true })
            </div>
            <div class="form-group resume-td-left">
<div class="col-md-2 col-sm-2 col-xs-12 apply-label">
                <label class="apply-left">Required Experience</label></div>
                @Html.TextBoxFor(model => Model.Experience, new { @class = "form-control textbox-size", maxlength = "50", tabindex = "4", @required = "required", @readonly = true })
            </div>
            <div class="form-group resume-td-right">
<div class="col-md-2 col-sm-2 col-xs-12 apply-label">
                <label class="apply-left">Salary Range </label></div>
                @Html.TextBoxFor(model => Model.Salary, new { @class = "form-control textbox-size", maxlength = "50", tabindex = "4", @required = "required", @readonly = true })
            </div>
            <div class="form-group resume-td-left" >
<div class="col-md-2 col-sm-2 col-xs-12 apply-label">
                <label class="apply-left">Resume </label></div>
                <input type="file" name="fileUploader" style="font-size:large" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
            <div class="form-group resume-td-right" >
                <button type="submit" class="LOG-IN-BTN" style="font-size:large">Apply For Job</button>
            </div>
            @*</form>*@
    }
</div>
</div>

