﻿
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    ViewBag.Title = "ChairmanDesk";
}

<center><a class="texts-link" href="javascript:void(0)">Chairman Desk</a><br /></center>
<div class="desk-img">
    <img src="~/Content/images/fred-ebrahimi.jpg" alt="portfolio 1" >
</div>
<div class="contentdesk">
    <p>Quark was founded with $2000 in 1981 in Denver, Colorado, USA. Between 1981 and 1985 their primary products were Word Juggler and Catalyst. Word Juggler was the first word processor on the Apple III. Catalyst was a program that was distributed bundled with the Apple IIe, and allowed users to run floppy-disk based applications from their hard drive. They also attempted a product line called "Quark Peripherals", but the market for storage devices at the time resulted in a huge financial loss.</p>
    <p>In 1986 Quark released QuarkXPress 1.0, which due to its precision quickly gained market share from Aldus Pagemaker. With the release of QuarkXPress 3.0 in 1990, Quark quickly achieved a dominant position in the desktop publishing market and became the standard for desktop publishing. By the end of the 1990s they gathered a market share of around 90%.</p>
    <p>In the late 1990s, Quark faced intense criticism for slow innovation cycles, high prices, and a poor response to customer needs. Therefore, many customers welcomed the release of Adobe InDesign in 1999 as a viable alternative. The release of Adobe Creative Suite in 2003, essentially including InDesign with Photoshop and Illustrator, resulted in ongoing market share loss for QuarkXPress.</p>
   <p><b>Ownership and management</b></p>
    <p>Quark was founded under the name "Quark Engineering" 1981 by Tim Gill and Mark Pope.[3] In 1986 Fred Ebrahimi joined Quark as CEO and co-owner. In 1990, Mark Pope sold his share of the company to the other partners. In 2000 Tim Gill left Quark and sold all his shares to Ebrahimi.</p>
    <p>In keeping with its India focus, Quark appointed Kamar Aulakh, a Quark veteran of Indian origin, as its CEO in February, 2004. In June 2005, Quark informed its employees that Aulakh was no longer with the company.</p>


    </div>
<br />
<div class="">

    <p>"The Quarkcity is founded on a vision which seeks to usher in a better tomorrow by providing people with improved quality of life and living standards. Recognizing the basic need to approach the issue of planned development and growth across the Residential, Commercial and Retail segments of the Real Estate Industry, we at Quarkcity believe that the key element of this transformation is change - a change from within and without.</p>
    <p>Guided by the profound thought expressed by the Father of the Nation, Each of us must be the change we want to see in the world, we have endeavored to commit ourselves to providing comprehensive solutions to all our valued customers across the Real Estate Industry; solutions that combine high-end technology, design and aesthetics and meet customer aspirations and expectations through superior standards of performance and service. </p>
    <p>With this as our founding philosophy, the Group is confident of establishing a national leadership position in all its areas of businesses. Business growth apart, the Group is also intensely committed to playing a key role in discharging its social obligations by adhering to specified norms of legal, environmental and ethical practices. The aim is for DLF as Group to be a professional and responsive corporate entity, which positively transforms the quality of life of society."</p>

</div>
<br />
<div class="">
   
    <p>"The Quarkcity is founded on a vision which seeks to usher in a better tomorrow by providing people with improved quality of life and living standards. Recognizing the basic need to approach the issue of planned development and growth across the Residential, Commercial and Retail segments of the Real Estate Industry, we at Quarkcity believe that the key element of this transformation is change - a change from within and without.</p>
    <p>Guided by the profound thought expressed by the Father of the Nation, Each of us must be the change we want to see in the world, we have endeavored to commit ourselves to providing comprehensive solutions to all our valued customers across the Real Estate Industry; solutions that combine high-end technology, design and aesthetics and meet customer aspirations and expectations through superior standards of performance and service. </p>
    <p>With this as our founding philosophy, the Group is confident of establishing a national leadership position in all its areas of businesses. Business growth apart, the Group is also intensely committed to playing a key role in discharging its social obligations by adhering to specified norms of legal, environmental and ethical practices. The aim is for DLF as Group to be a professional and responsive corporate entity, which positively transforms the quality of life of society."</p>

</div>




