﻿
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/_Layoutfacilities.cshtml";
}
<div class="container-fluid grey-bg">
<div class="container">

<div class="inner-content">
<h2 class="login-text1">Quarkcity F3 Facilities.</h2>
<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>Cafeteria</h4>
<p>Your hunder ends here. A cafeteria is a type of food service location in which there is little or no waiting staff table service, whether a restaurant or within an institution such as a large office building or school.Instead of table service, there are food-serving counters/stalls, either in a line or allowing arbitrary walking paths.As cafeterias require few employees, they are often found within a larger institution, catering to the clientele of that institution.A restaurant in which patrons wait on themselves, carrying their food to tables from counters where it is displayed and served</p>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/cafe-slider1.jpg" />
      
 
      </div>

      <div class="item">
          <img src="~/Content/images/cafe-slider3.jpg" />
         
      
    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/cafe.jpg" />
      
      </div>

      <div class="item">
          <img src="~/Content/images/cafe-slider2.jpg" />
       
   </div>
  
    </div>


  </div>
    

</div>
</div>
</div>
</div>
</div>

<div class="container-fluid">
<div class="container">
<div class="inner-content">

<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/security-slider1.jpg" />
       
        
 
      </div>

      <div class="item">

          <img src="~/Content/images/security-slider2.jpg" />

    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/security-slider3.jpg" />

      </div>

      <div class="item">
          <img src="~/Content/images/security-slider4.jpg" />
          
      
   </div>
  
    </div>


  </div>
    

</div>
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>24x7 Security</h4>
<p>We have a different security signage to indicate the presence of a security guards, when we are providing 24 hour security, we use signs that indicate 24 hours manned security presence.The guard is handpicked and trained on site specific protocol which includes additional training such as: high end customer service, special access control procedures, special fire panel programs, parking area vehicle inventory... etc.

Quarkcity gives you 27x7 hours security protection.To avoid the un-authenticated activities in the company.

</p>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid grey-bg">
<div class="container">

<div class="inner-content">

<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>2/4 wheeler Parking</h4>
<p>Parking is the act of stopping and disengaging a vehicle and leaving it unoccupied. Parking on one or both sides of a road is often permitted, though sometimes with restrictions.facilities include indoor and outdoor private property belonging to a company.

has a well planned car parking facility at both employee as well as visitor. Car parking areas are designated as per the convenience of the employees.car parking areas are well maintained and operational throughout the day.

A parking lot is an area that is assigned for parking. Normally, the parking spaces are marked on the ground with white or yellow lines that form squares that each fit one car. An underground parking garage has levels below the surface and none above ground.</p>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/parking-slider1.jpg" />
     
 
      </div>

      <div class="item">
    
          <img src="~/Content/images/parking-slider3.jpg" />
    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/parking-slider2.jpg" />
          
      </div>

      <div class="item">
          <img src="~/Content/images/parking-slider4.jpg" />
       
   </div>
  
    </div>


  </div>
    

</div>
</div>
</div>
</div>
</div>


<div class="container-fluid">
<div class="container">
<div class="inner-content">

<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/maintenance-slider1.jpg" />
         
        
 
      </div>

      <div class="item">
          <img src="~/Content/images/maintenance-slider2.jpg" />
        

    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/maintenance-slider3.jpg" />

      </div>

      <div class="item">
          <img src="~/Content/images/maintenance-slider4.jpg" />
          
      
   </div>
  
    </div>


  </div>
    

</div>
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>Maintenance</h4>
<p>We cover the entire scope of work in length and width for three major service sectors: plumbing, electrical and carpentry.

Maintenance involves fixing any sort of mechanical, plumbing, or electrical device should it become out of order or broken (known as repair, unscheduled, or casualty maintenance). can be categorised by whether the product remains the property of the customer or whether the product is bought by the reprocessing organisation.

Quarkcity provides the high end maintenance 24x7 service based.Our engineers are to produce high end and customer satisfaction service.



</p>
</div>
</div>
</div>
</div>
</div>




