﻿@model QuarkWeb.BLL.Models.Contact

@{
ViewBag.Title = "Index";
string message = ViewBag.response;
}
<div class="container">
<div class="about-section">
<p>We Are Offering The Best</p>
<h2>Real<span class="estate-deals">Estate Deals</span></h2>
<p class="sec-para">Creative MInds with Passion  </p>
<p class="quark-info">QuarkCity d esigns, builds, leases/sells, and operates its developments and takes pride in providing high quality products at international standards...</p>

</div>

</div>
<div class="templatemo_lightgrey_about" id="templatemo_about" style="
    padding-top: 0;
">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                    </div>
                    Commerical Offices
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>QuarkCity,Having built an eco-system that enables a flexible and an efficient setting, while adding flavor to the workplace. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-home" aria-hidden="true"></i></span>
                    </div>
                    Residential Appartments
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>QuarkCity, We have crafted some of the finest residential complexes, combining the best of design, aesthetics, technology and architecture</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                    </div>
                    Shopping Malls
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>Our development and construction teams reach across India and the world to bring the best in architecture and technology to our projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
            <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-coffee " aria-hidden="true"></i></span>
                    </div>
                    Hotel
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                    <div class="inner-hover-box">
                        <p>Quarkcity leads in nearly every sphere of business it operates in. QuarkCity designs, builds and operates its developments and takes pride in providing high quality products.A magical and fascinating experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<div class="templatemo_reasonbg">
    <h2>What we do?</h2>
    <p>QuarkCity d esigns, builds, leases/sells, and operates its developments and takes pride in providing high quality products at international standards.Quarkcity is a major technology, engineering, construction, manufacturing and financial services conglomerate, with global operations.We are the developers of integrated townships and industrial part.</p>
    <div class="clear height10"></div>

    <div class="clear height20"></div>
    <a class="LOG-IN-BTN" href="/Index/QuarkcityOverview">Read More</a><br />
    <section class="video" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1><a href="javascript:void(0)" class="youtube-media"><abbr href="#myModal" data-toggle="modal" class="fa fa-play-circle-o">Watch the Video</abbr></a></h1>
                </div><br />
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">YouTube Video</h4>
                            </div>
                            <div class="modal-body">
                                <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/9No-FiEInLA?wmode=opaque&fs=1&autoStart=0" frameborder="0" controls allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="clear"></div>
<!--Our Portfolio Start-->
<div class="templatemo_portfolio" id="templatemo_portfolio">
    <h2>InHouse Facilities/Strength</h2>
<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="~/Content/images/heading-icon1.png" />
</div>
    <p> Residential, Commercial, Hotels and Offices Projects.Quarkcity, Construction, India's largest construction organization and ranked among the world's top 30 contractors</p>
    <div class="container">      
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="hovereffect ">
                <img class="img-responsive" src="~/Content/images/manufacturing.jpg" style="width:100%;    border-radius: 5px;">
                <div class="overlay texts-a">
                    <h2>Manufacturing</h2>
                    <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                        Our sleek quality work and  synergized effect of our team’s creative mind have paved the way for offering innovative services to our clients.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="hovereffect ">
                <img class="img-responsive" src="~/Content/images/stone.jpg" style="width:100%;    border-radius: 5px;">
                <div class="overlay texts-a">
                    <h2>Stone Finishing</h2>
                    <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                        Quarkcity has speciality in producing Natural Cleft, Polished, Honed, Flamed ,Sandblasted, Leather Finish, Split Face, Veneer Stone, Antiqued, Chiseled Stone, Tumbled, Bush Hammered
                        etc.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="hovereffect ">
                <img class="img-responsive" src="~/Content/images/steel.jpg" style="width:100%;    border-radius: 5px;">
                <div class="overlay texts-a">
                    <h2>Steel fabrication</h2>
                    <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                     Steel Fabrication.The definitive trade exhibition for steel fabrication, metal working and metal manufacturing industry of the region.

                 </p>
             </div>
         </div>
     </div>  
     <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
        <div class="hovereffect ">
            <img class="img-responsive" src="~/Content/images/food.jpg" style="width:100%;    border-radius: 5px;">
            <div class="overlay texts-a">
                <h2>Food operations</h2>
                <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                    We are experts in producing healthy and tasty food amoung the best food producers. we served in residential and oofices area. we deal in all area in terms of food. A healthy food is a sign of healthy body.

                </p>
            </div>
        </div>
    </div>     
</div><br />
<div class="clearfix"></div>
<div class="container">
    <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
        <div class="hovereffect ">
            <img class="img-responsive" src="~/Content/images/interior.jpg" style="width:100%;    border-radius: 5px;">
            <div class="overlay texts-a">
                <h2>Interieor Finishes </h2>
                <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                    Quarkcity is your partner for finishing a building's interiors.For interior walls and floors, plastering mortars from Quarkcity are designed for levelling uneven surfaces, filling holes and irregularities.

                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
        <div class="hovereffect ">
            <img class="img-responsive" src="~/Content/images/wood.jpg" style="width:100%;    border-radius: 5px;">
            <div class="overlay texts-a">
                <h2>Wood Work</h2>
                <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                    Our sleek quality work and  synergized effect of our team’s creative mind have paved the way for offering innovative services to our clients.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
        <div class="hovereffect ">
            <img class="img-responsive" src="~/Content/images/exterior.jpg" style="width:100%;    border-radius: 5px;">
            <div class="overlay texts-a">
                <h2>Exterior Finishes</h2>
                <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                    We have signature in exterior finishing also.Quarkcity invite you to create the exterior of your dream home.Simply print off your options cart and bring it to your Design Representative.

                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
        <div class="hovereffect ">
            <img class="img-responsive" src="~/Content/images/maintenance.jpg" style="width:100%;    border-radius: 5px;">
            <div class="overlay texts-a">
                <h2>Maintenance</h2>
                <p class="info col-xs-6 col-sm-6 col-md-3 hover-box ">
                    Our sleek quality work and  synergized effect of our team’s creative mind have paved the way for offering innovative services to our clients.

                </p>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

</div>
<!--Our Portfolio End-->
<div class="clear"></div>
<!--Our Blog Start-->

<div class="clear"></div>


<div class="services_blog" id="services_blog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="title-area">
                    <h3 class="title" style="color:black">Quarkcity Common Services</h3>
<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="~/Content/images/heading-icon1.png" />
</div>
                    <span class="line"></span>
                    <p style="text-align:center !important">Below ar the major services that Quarkcity provides.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="service-content">
                    <div class="row">
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-power-off service-icon " aria-hidden="true" style="font-size:37px"></i>
                                <h4 class="service-title">Power Distribution</h4>
                                <p>Underground 11kv cables for distribution of power to individual buildings add to safety.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="service-icon fa fa-power-off " aria-hidden="true" style="font-size:37px"></i>
                                <h4 class="service-title">Electrical Power</h4>
                                <p>2x25MVa 66kv dedicated substation supplies power to entire quarkcity though n+1 reduant.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-lightbulb-o service-icon " style="font-size:37px"></i>
                                <h4 class="service-title">Power Back Up</h4>
                                <p>Centralised 100% power back up at 11kv level with most advanced controls.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-lock service-icon " style="font-size:37px"></i>
                                <h4 class="service-title">Security</h4>
                                <p>Two tier access controlled entry and exit system for security. </p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-camera service-icon " style="font-size:37px"></i>
                                <h4 class="service-title">cctv survellance</h4>
                                <p>Entire city is monitored round the clock through cctv cameras.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-fire service-icon " style="font-size:37px"></i>
                                <h4 class="service-title">Fire safety</h4>
                                <p>A mix of centalised and dedicated water tanks and fire hydrant systems though out the quarkcity.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-video-camera service-icon" style="font-size:37px"></i>
                                <h4 class="service-title">24x7 control room</h4>
                                <p>24x7 operative central control room to catch any emergency needs.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-road service-icon " style="font-size:37px"></i>
                                <h4 class="service-title">Concrete roads</h4>
                                <p>A network of concrete roads for maintenance free and dust free environment.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                        <!-- Start single service -->
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service wow zoomIn">
                                <i class="fa fa-tint service-icon " style="font-size:37px"></i>
                                <h4 class="service-title">Water Supply</h4>
                                <p>A group of distributed borewells for reliable and safe water supply.</p>
                            </div>
                        </div>
                        <!-- End single service -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="templatemo_blog product-bg" id="templatemo_blog">
    <h2>Our Projects/ Products</h2>
@*<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="~/Content/images/heading-icon1.png" />
</div>*@
    <p>Check out our latest projects.</p>
    <div class="clear"></div>
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
            <div class="grid cs-style-4">

                <figure>
                    <div><img src="~/Content/images/templatemo_blogimage01.jpg" alt="blog image 1"></div>
                    <figcaption>
                        <h3>Shopping Malls</h3>

                        <a href="javascript:void(0)">Read More</a>
                    </figcaption>
                </figure>
            </div>

          <!--   <div class="clear"></div>
            <img src="~/Content/images/templatemo_blogimage01.jpg" alt="blog image 1">
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Shopping Malls</span>
                <span class="right">
                    <a href="javascript:void(0);" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div> -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">


           <div class="grid cs-style-4">

            <figure>
                <div><img src="~/Content/images/templatemo_blogimage02.jpg"  alt="blog image 2"></div>
                <figcaption>
                    <h3>Office Spaces</h3>

                    <a href="/Index/Offices">Read More</a>
                </figcaption>
            </figure>
        </div>

           <!--  <div class="clear"></div>
            <a href="/Index/Offices" target="_blank" title="Click more"><img src="~/Content/images/templatemo_blogimage02.jpg"  alt="blog image 2"></a>
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Office Spaces</span>
                <span class="right">
                    <a href="/Index/Offices" target="_blank" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div> -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
   <div class="grid cs-style-4">

            <figure>
                <div><img src="~/Content/images/templatemo_blogimage03.jpg" alt="blog image 3"></div>
                <figcaption>
                    <h3>Residential Apartments</h3>
                    
                    <a href="/Index/Residential">Read More</a>
                </figcaption>
            </figure>
        </div>


          <!--   <div class="templatemo_wrapperblogbox">             

            </div>
            <div class="clear"></div>
            <a href="/Index/Residential" target="_blank"><img src="~/Content/images/templatemo_blogimage03.jpg" alt="blog image 3"></a>
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Residential Apartments</span>
                <span class="right">
                    <a href="/Index/Residentials" target="_blank"  title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div> -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
 <div class="grid cs-style-4">

            <figure>
                <div> <img src="~/Content/images/templatemo_blogimage04.jpg" alt="blog image 4"></div>
                <figcaption>
                    <h3>Hotels</h3>
                    
                    <a href="javascript:void(0)">Read More</a>
                </figcaption>
            </figure>
        </div>


          <!--   <div class="clear"></div>
            <img src="~/Content/images/templatemo_blogimage04.jpg" alt="blog image 4">
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Hotels</span>
                <span class="right">
                    <a href="javascript:void(0);" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div> -->
        </div>
    </div>
    <br />
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
         <div class="grid cs-style-4">

            <figure>
                <div> <img src="~/Content/images/leasing-1.jpg" alt="blog image 1"></div>
                <figcaption>
                    <h3>Leasing</h3>
                    
                    <a href="/Index/leasing">Read More</a>
                </figcaption>
            </figure>
        </div>
        

           <!--  <div class="clear"></div>
            <a href="/Index/Residential" target="_blank"><img src="~/Content/images/leasing-1.jpg" alt="blog image 1"></a>
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Leasing</span>
                <span class="right">
                    <a href="/Index/Leasing" target="_blank" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div> -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
             <div class="grid cs-style-4">

            <figure>
                <div><img src="~/Content/images/maintenance1.jpg" alt="blog image 2"></div>
                <figcaption>
                    <h3>Maintenance Services</h3>
                    
                    <a href="/Index/Maintenance">Read More</a>
                </figcaption>
            </figure>
        </div>
<!-- 
            <div class="clear"></div>
            <a href="/Index/Maintenance" target="_blank" title="Click more"><img src="~/Content/images/maintenance1.jpg" alt="blog image 2"></a>
            <div class="clear"></div>
            <div class="templatemo_blogtext">
                <span class="left">Maintenance</span>
                <span class="right">
                    <a href="/Index/Maintenance" target="_blank" title="Click more"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
                </span>
            </div> -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
          <div class="grid cs-style-4">

            <figure>
                <div><img src="~/Content/images/sales.jpg" alt="blog image 3"></div>
                <figcaption>
                    <h3>Sales</h3>
                    
                    <a href="/Index/Sales">Read More</a>
                </figcaption>
            </figure>
        </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
          <div class="grid cs-style-4">

            <figure>
                <div><img src="~/Content/images/construction.jpg" alt="blog image 3"></div>
                <figcaption>
                    <h3>Construction</h3>
                    
                    <a href="javascript:void(0)">Read More</a>
                </figcaption>
            </figure>
        </div>
        </div>
        
    </div>
</div>
<div class="career-bg">
    <div class="container">
        <div class="templatemo_job" id="templatemo_job">
            <div class="career">
                <h3 class="title" style="color:black">Career with Quarkcity</h3>
@*<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="~/Content/images/heading-icon1.png" />
</div>*@
                <table class="table-hover table-responsive col-xs-3 " style="color:black; width:100%;">
                    <thead class="td-background">
                        <tr>
                            <th>ID</th>
                            <th>Job ID</th>
                            <th>Position</th>
                            <th>Job Description</th>
                            <th>Experience</th>
                            <th>Salary</th>
                            <th>Apply</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.jobApplication.Count > 0)
                        {
                        int counter = 0;
                        foreach (var oSubscription in ViewBag.jobApplication)
                        {
                        counter++;
                        <tr>
                            <td>@oSubscription.Id</td>
                            <td>@oSubscription.JobID</td>
                            <td>@Html.Raw(oSubscription.Possition)</td>
                            <td>@Html.Raw(oSubscription.Description)</td>
                            <td>@Html.Raw(oSubscription.Experience)</td>
                            <td>@Html.Raw(oSubscription.Salary)</td>
                            <td>@Html.ActionLink("Apply", "ApplyJob", new { id = oSubscription.Id, jobid = oSubscription.JobID }, new { @class = "IconEdit", target = "_blank" })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
<!--Our Client End-->
<!--Contact Start -->
<div class="templatemo_lightgrey" id="templatemo_contact">
    <div class="templatemo_paracenter">
        <h2 style="font-size:32px">Contact us</h2>
<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="~/Content/images/heading-icon1.png" />
</div>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="templatemo_paracenter">
            Find Us or drop email!<br />Leasing information for Landmark Plaza (SEZ) and The Atrium Building
        </div>
        <div class="clear"></div>
        <div class="container">
            <div class="row contact-section">
                <div class="col-md-6">
                    <div class="templatemo_maps">
                        <div class="fluid-wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d438943.69691749325!2d76.46208823280791!3d30.739544920720302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feefe6ee844c7%3A0xc06ae60367c5ec42!2sQuarkcity+India+Pvt+Ltd.!5e0!3m2!1sen!2sus!4v1479542786387" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>



                @if (!string.IsNullOrEmpty(message))
                {
                <div>
                    @Html.Label(message)
                </div>
            }
            @using (Html.BeginForm("SendMessage", "Index", FormMethod.Post, null))
            {
            <div class="col-md-6">
                @*<form role="form" method="post" action="/Index/SendMessage">*@
                <div class="form-group">

                    @Html.TextBoxFor(model => Model.FullName, new { @class = "form-control textbox-size", maxlength = "20",tabindex = "1", @required = "required", placeholder="Full Name" })
                    @Html.ValidationMessage("fullname" )
                </div>
                <div class="form-group">

                    @Html.TextBoxFor(model => Model.Email, new { @class = "form-control textbox-size", maxlength = "30", tabindex = "2", @required = "required", placeholder="Email" })
                </div>

                <div class="form-group">

                    @Html.TextBoxFor(model => Model.Number, new { @class = "form-control textbox-size", maxlength = "14", tabindex = "3", @required = "required" ,placeholder="Number" })
                </div>
                <div class="form-group">

                    @Html.TextBoxFor(model => Model.Subject, new { @class = "form-control textbox-size", maxlength = "50", tabindex = "4", @required = "required" ,placeholder="Subject" })
                </div>

                @*</form>*@


                <div class="txtarea">


                    @Html.TextAreaFor(model => Model.Message, new { @class = "form-control", maxlength = "300", tabindex = "5", @required = "required", placeholder="Message" })
                </div>
                <div><button type="submit" class="btn btn-primary" style="font-size:large">Send Message</button></div>
            </div>

        }

    </div>
</div>
</div>
</div>
