﻿@using QuarkWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="div-color">
<div class="main-bg">
    <div class="col-md-12 col-sm-12 col-xs-12 login-page ">
        <section id="">
            @using (Html.BeginForm("SignIn", "Index", FormMethod.Post, null))
            {
                <h4><b> LOG IN</b></h4>
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label"  })*@
                    <div class="col-md-12 index-login">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-text ", @placeholder ="Username or Email",required="required" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12 index-login">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-text ", @placeholder = "Password", required="required"})
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                         
                            <div class="checkbox ">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div> 
                            <div class="div-padding">
                                <input type="submit" value="Log in" class="LOG-IN-BTN " />     
                            </div>                          
                                              
                                                       
                                                
                    </div>                   
                </div>               
                <div class="events">
                </div>
            }
        </section>
    </div>
   
  
</div>
    </div>



