﻿
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/_LayoutMaintenance.cshtml";
}
<div class="container-fluid grey-bg">
<div class="container">

<div class="inner-content">
<h2 class="login-text1">Maintenance</h2>
<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>OFFICES MAINTENANCE</h4>
<p>Starting a successful business typically requires you to identify a need and find a way to fill it. QuarkCity also provides the offices maintenance after considering each and every aspect.You spend a lot of time at the office every day. It’s a relief to know it will be clean when you get to work. Professional office cleaning services are affordable and can keep your office consistently clean. But, it’s important to use a commercial office cleaning company you can count on. Our staff cleans your office by following a detailed checklist customized to your unique need. We work hard to keep your workplace clean, safe, and healthy</p>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/office4.jpg" />
 
      </div>

      <div class="item">
          <img src="/Content/images/office5.jpg">
      
    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/office3.jpg" />
      
      </div>

      <div class="item">
          <img src="/Content/images/office2.jpg">
       
   </div>
  
    </div>


  </div>
    

</div>
</div>
</div>
</div>
</div>

<div class="container-fluid">
<div class="container">
<div class="inner-content">

<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/roadmaintenance-slider.jpg" />
         
        
 
      </div>

      <div class="item">
          <img src="~/Content/images/roadmaintenance-slider1.jpg" />

    
      </div>
    
      <div class="item active">
  
          <img src="~/Content/images/roadmaintenance-slider2.jpg" />
      </div>

      <div class="item">
          <img src="~/Content/images/roadmaintenance-slider4.jpg" />
          
      
   </div>
  
    </div>


  </div>
    

</div>
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>ROAD MAINTENANCE</h4>
<p>Quarkcity also has his hand in road maintenance. Many road maintainers do their good job but we believe in accuracy and reliability.We complement these with a comprehensive road maintenance management system, which applies a streamlined, on-line asset management approach to individual road maintenance contracts.We offers steel reinforcing overlays, woven geocomposite for reinforcement of asphalt pavements, woven geogrid for sub-base reinforcement, surfacing product for footpaths and driveways, solutions for failed surface dressing, fatty surface inhibitors, edge strengthening products, rut eliminators, and hard shoulder restoration. It also provides slow set emulsion, wet mix with anti-rutting, anti-skid surfacing, anti-skid treatment, pothole patch mix materials, and skid resistance surfacing. In addition, the company offers road markings, catseyes, playground symbols, carpark markings, and hyperlines

</p>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid grey-bg">
<div class="container">

<div class="inner-content">

<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>2/4 wheeler Parking</h4>
<p>Parking is the act of stopping and disengaging a vehicle and leaving it unoccupied. Parking on one or both sides of a road is often permitted, though sometimes with restrictions.facilities include indoor and outdoor private property belonging to a company.

has a well planned car parking facility at both employee as well as visitor. Car parking areas are designated as per the convenience of the employees.car parking areas are well maintained and operational throughout the day.

A parking lot is an area that is assigned for parking. Normally, the parking spaces are marked on the ground with white or yellow lines that form squares that each fit one car. An underground parking garage has levels below the surface and none above ground.</p>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/parking-slider1.jpg" />
       
 
      </div>

      <div class="item">
          <img src="~/Content/images/parking-slider2.jpg" />
    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/parking-slider3.jpg" />
      
      </div>

      <div class="item">
          <img src="~/Content/images/parking-slider4.jpg" />
       
   </div>
  
    </div>


  </div>
    

</div>
</div>
</div>
</div>
</div>


<div class="container-fluid">
<div class="container">
<div class="inner-content">

<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/common-area-slider1.jpg" />
          
        
 
      </div>

      <div class="item">
         

          <img src="~/Content/images/common-area-slider2.jpg" />
      </div>
    
      <div class="item active">
          
          <img src="~/Content/images/common-area-slider3.jpg" />
      </div>

      <div class="item">
          <img src="~/Content/images/common-area-slider1.jpg" />
          
      
   </div>
  
    </div>


  </div>
    

</div>
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>Common Area</h4>
<p>If you’re looking for high quality and professional service, you’ve come to the right place.Maintaining an asset is a key function to managing your asset effectively. Quarkcity cover commercial building services and systems including: gas services, boiler & heating plant, electrical services, air conditioning and climate control, catering, kitchen equipment and refrigeration, laundry & textile care, plumbing, building management systems, fire alarms and access control.With the belief that owners and property managers would appreciate a more professional, service-oriented approach to building maintenance, Commercial Maintenance Services.



</p>
</div>
</div>
</div>
</div>
</div>




<div class="container-fluid grey-bg">
<div class="container">

<div class="inner-content">

<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>HOUSE KEEPING</h4>
<p>Quarkcity provides housekeeping services which includes comemrcial housekeeping srevices,offices house keeping services,industrial housekeeping services,hotels housekeeping services.Also provides the cleaning services which further includes carpet cleaning,floor cleaning,sofa cleaning,water tank cleaning,office cleanig services.Cleaning means different things to different people and different organizations.We provide a highly talented Manpower Services in Delhi, Noida & Gurgaon. Our services are trusted and widely appreciated for delivering high performance in every aspect.</p>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">

          <img src="~/Content/images/house-keeping-slider1.jpg" />
      
 
      </div>

      <div class="item">
     
          <img src="~/Content/images/house-keeping-slider2.jpg" />
    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/house-keeping-slider1.jpg" />
      
      </div>

      <div class="item">
       
          <img src="~/Content/images/house-keeping-slider3.jpg" />
   </div>
  
    </div>


  </div>
    

</div>
</div>
</div>
</div>
</div>


<div class="container-fluid">
<div class="container">
<div class="inner-content">

<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item">
          <img src="~/Content/images/cafe-slider.jpg" />
        
 
      </div>

      <div class="item">
          <img src="~/Content/images/cafe-slider1.jpg" />

    
      </div>
    
      <div class="item active">
          <img src="~/Content/images/cafe-slider2.jpg" />

      </div>
 <div class="item ">
          <img src="~/Content/images/cafe-slider3.jpg" />

      </div>

  
    </div>


  </div>
    

</div>
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>FOOD SERVICES</h4>
<p>Foodservice tends to be, on average, higher in calories and lower in key nutrients than foods prepared at home. Our Food Services is committed to serving you healthy, flavorful, and nutritious food.Over the past 10 years, we’ve served food to millions of people from all walks of life, in all places, all around the world. And we’ve used our array of resources and expertise to cultivate amazing dining experiences that delight our customers, deliver success for our clients, and empower people to lead healthier lives every single day.Our mission is to believe in and deliver our core values of Customers, Convenience, Choice in every action and decision we make. Our most important asset is the personal relationships with our customers.We provide the highest quality food, service, and presentation while maintaining variety and flexibility



</p>
</div>
</div>
</div>
</div>
</div>


