﻿
@{
    ViewBag.Title = "Offices";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="container-fluid grey-bg">
<div class="container">
<div class="inner-content">
<h2 class="login-text1">Quarkcity F3 Office (SEZ ZONE)</h2>

<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>Introduction:</h4>
<p>Special Economic Zone (SEZ) is a specifically delineated duty-free enclave and shall be deemed to be foreign territory for the purposes of trade operations and duties and tariffs. In order words, SEZ is a geographical region that has economic laws different from a country's typical economic laws. Usually the goal is to increase foreign investments.
<br />
QuarkCity is a multi-use development that includes Offices, Residentials, Retails and Special Economic Zone (SEZ). QuarkCity is located in the district of Mohali, Punjab,
within the extended grid of Le Corbusier’s modern city of Chandigarh, 265 km (166 miles) North of India’s capital city of New Delhi .QuarkarkCity is a development in Mohali,
Punjab that includes world-class residential, commercial, retail and hotel projects, and an IT/ITES SEZ (Special Economic Zone).The first building in the SEZ, Landmark Plaza,
is a 14 story, 600,000 sq. ft. building which is already operational with MNC's in IT/ITES sector.The beginning of the new millennium witnessed tremendous developments taking
place in India that unleashed the latent entrepreneurial energy in various enterprises including construction.</p>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/Content/images/atrium.jpg">
 
      </div>

      <div class="item">
          <img src="~/Content/images/office5.jpg" />
      
    
      </div>
    
      <div class="item">
          <img src="~/Content/images/office3.jpg" />
      
      </div>

      <div class="item">
          <img src="~/Content/images/office2.jpg" />
       
   </div>
  
    </div>


  </div>
    

</div>
</div>
</div>
</div>
</div>

<div class="container-fluid">
<div class="container">
<div class="inner-content">
<h2 class="login-text1">Quarkcity Atrium Office (NON-SEZ ZONE)</h2>
<div class="row">
<div class="col-md-4 col-sm-12 col-xs-12 inner-img-part">
    
  
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
          <img src="~/Content/images/f3-office.jpg" />
        
 
      </div>

      <div class="item">
          <img src="~/Content/images/office4.jpg" />

    
      </div>
    
      <div class="item">
          <img src="~/Content/images/office1.jpg" />

      </div>

      <div class="item">
          <img src="~/Content/images/office4.jpg" />
          
      
   </div>
  
    </div>


  </div>
    

</div>
<div class="col-md-8 col-sm-12 col-xs-12 text-part">
<h4>Introduction:</h4>
<p>Non Special Economic Zone (Non-SEZ) is a not delineated duty-free enclave and shall not be deemed to be foreign territory for the purposes of trade operations and duties and tariffs.he government has allowed developers of special economic zones (SEZs) to build housing and commercial premises in the non-processing area that they will be able to rent out to entities from outside the zones, offering a potentially lucrative incentive to developers of the industrial enclaves.
<br />
As a privately held development company with substantial backing from US investors, we are able to take a long-term outlook. In fact, our investment group has two more approved 
SEZ development projects for Punjab in the design stage. Each of these is approximately 300 acres in size and will contain both commercial and residential spaces.Our development
and construction teams reach across India and the world to bring the best in architecture and technology to our projects. QuarkCity is pleased to work with the following top professionals from India and abroad</p>
</div>
</div>
</div>
</div>
</div>







