﻿
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    ViewBag.Title = "PossitionHeld";
}


<a class="texts-link" href="javascript:void(0)">Possition Held</a><br />
<div>
    <p>
        President of the apex industry chamber of the country, Associated Chamber of Commerce & Industry of India (ASSOCHAM).<br />
        President of the PHD Chamber of Commerce and Industry.<br />
        Director of Quarkcity India Pvt. Ltd.<br />
        Member of The Board of Governors Dr. Zakir Hussain Memorial College, Delhi.<br />
        Member of the Economic Policy and Reforms Council, Government of Rajasthan.<br /> 
    </p>
   

   

</div>

