﻿
@{
    ViewBag.Title = "Residentials";
    Layout = "~/Views/Shared/_LayoutResidential.cshtml";
}

<div class="residential">
<div class="container" style="
    border: 1px solid #a9a9a9;
    border-right: none;
    border-left: none;
    padding-bottom: 4%;
">
  <h3>Villa Verde </h3>
<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="/Content/images/heading-icon1.png">
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
     <div class="text-part">

<p> QuarkCity, a fabulous mixed-use development, welcomes you to Villa Verde an enticing collection of two and three-bedroom apartments, duplexes, penthouses, and townhouses,
        in the heart of an established urban neighbourhood of Mohali, just minutes from Le Corbusier’s modern city of Chandigarh.The bustling neighborhood offers shopping, recreation,
        and medical care all within 5-6 kms. Strategically located, at just 9 kms from the International Airport and the Railway Station, Villa Verde has all that it takes to 
        provide for a convenient urban lifestyle.If you have an enquiry about Villa Verde, contact our sales representatives at leasing@quarkcity.com<br /></p>
<div class="col-md-12 col-sm-12 col-xs-12 textcenter">
<a class="LOG-IN-BTN" href="http://villaverdehomes.com">Read More</a></div>
</div>
</div>
<div class="gal">

        <div class="col-md-4 col-sm-4 col-xs-12">    
            <a class="fancybox" rel="group" href="/Content/images/villa-r7.jpg"><img src="/Content/images/villa-r71.jpg" alt=""></a>
  </div>
   <div class="col-md-4 col-sm-4 col-xs-12">  
		<a class="fancybox" rel="group" href="~/Content/images/villa-r7one.jpg"><img src="~/Content/images/villa-r72.jpg" /></a></div>
  <div class="col-md-4 col-sm-4 col-xs-12"> 
			<a class="fancybox" rel="group" href="~/Content/images/villa-r7two.jpg"><img src="/Content/images/villa-r73.jpg" alt=""></a></div>
  
           </div>

</div>
<div class="container" style="
    padding-bottom: 4%;
">
  <h3>R2</h3>
<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="/Content/images/heading-icon1.png">
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
     <div class="text-part">

<p>The bustling neighborhood offers shopping, recreation and medical care all within 5-6 kms. Strategically located, at just 9 kms from the International
            provide for a convenient urban lifestyle.If you have an enquiry about Villa Verde, contact our sales representatives at leasing@quarkcity.com
            QuarkCity, a fabulous mixed-use development, welcomes you to Villa Verde an enticing collection of two and three-bedroom apartments, duplexes, penthouses, and townhouses, 
            in the heart of an established urban neighbourhood of Mohali, just minutes from Le Corbusier’s modern city of Chandigarh./p>
</div>
</div>
<div class="gal">
    


        <div class="col-md-4 col-sm-4 col-xs-12">    
            <a class="fancybox" rel="group" href="~/Content/images/r2-small.jpg" ><img src="/Content/images/r2-large.jpg" alt=""></a>
  </div>
   <div class="col-md-4 col-sm-4 col-xs-12">  
		<a class="fancybox" rel="group" href="/Content/images/r2-small1.jpg" ><img src="/Content/images/r2-large1.jpg" alt=""></a></div>
  <div class="col-md-4 col-sm-4 col-xs-12"> 
			<a class="fancybox" rel="group" href="/Content/images/r2-small2.jpg" ><img src="/Content/images/r2-large2.jpg" alt=""></a></div>
 
           </div>
    
   
</div>
<div class="container" style="
    border: 1px solid #a9a9a9;
    border-right: none;
    border-left: none;
    padding-bottom: 4%;
">
  <h3>R1</h3>
<div class="col-md-12 col-sm-12 col-xs-12 head-icon">
    <img src="/Content/images/heading-icon1.png">
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
     <div class="text-part">

<p>In India, QuarkCity has developed Punjab's first IT-SEZ which has resulted in Punjab becoming one of the major IT hubs of the northern part of the country.          
            The bustling neighborhood offers shopping, recreation and medical care all within 5-6 kms. Strategically located, at just 9 kms from the International Airport and the Railway Station, Villa Verde has all that it takes to
            QuarkCity designs, builds, leases/sells, and operates its developments and takes pride in providing high quality products and services at par with international standards.</p>
</div>
</div>


 <div class="col-md-4 col-sm-4 col-xs-12"> 
			<a class="fancybox" rel="group" href="~/Content/images/r1small.jpg" ><img src="/Content/images/r1small.jpg" alt=""></a></div>
  
       
  <div class="col-md-4 col-sm-4 col-xs-12">  
		<a class="fancybox" rel="group" href="/Content/images/r3.jpg" ><img src="/Content/images/r3.jpg" alt=""></a></div>
  <div class="col-md-4 col-sm-4 col-xs-12"> 
			<a class="fancybox" rel="group" href="/Content/images/r1small1.jpg"><img src="/Content/images/r1small1.jpg" alt=""></a></div>
 
           </div>

</div>
</div>





