/* 

Smoothy Template 

http://www.templatemo.com/tm-396-smoothy

*/

html, body {
  font-family: open-sans, sans-serif; 
  padding: 0px; 
  margin: 0px; 
  color: #8a8a8a;
}

#service{
  background-color: #fff;
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
}
.left span {
    color: grey;
}

.service-content{
  display: inline;
  float: left;
  margin-top: 1%;
  width: 100%;
}

.single-service {
    display: inline;
    float: left;
    margin-bottom: 30px;
    padding-left: 74px;
    position: relative;
    width: 93%;
    text-align: left;
}
.service-icon { 
  font-size: 50px;
  height: 60px;
  left: 0;
  color: #F68932;
  line-height: 50px;
  position: absolute;
  top: 10px;
  width: 60px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.single-service:hover .service-icon{
  color: #222;
}
.center{
   margin-left: auto;
    margin-right: auto;
    float: none;
    background-color:white;
    color:black;
     font-size: 30px;
     text-align: center;
}
.service-title{
  color: #222;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}

.single-service p {
  font-size: 14px;
  line-height: 25px;
}

.title-area .title {  
  font-size: 35px;
    text-align: center;
  /*font-weight: 700;*/
  line-height: 35px;
  /*text-transform: uppercase;*/
}

.title-area .line {
  /*background-color: #777;*/
  display: inline-block;
  height: 2px;
  width: 60px;
}

.logo a:hover {
    color: #ffffff;
    background: #fff !important;
}

a {
  color: #00ACE9;
}

a:hover {
  text-decoration: none;
}

p {
  color: #333333;
}
.envr_left1 {
    width: 60%;
    float: left;
    /*padding-top: 50px;*/
    color:black;
}
.envr_right1 {
    float: right;
     width: 60%;
       padding-top: 0px;
}
.img-quark {
    float:left;
    width: 48%;
   padding-top: 0px;
}
.img-quark-layout {
    float:none;
    width: 100%;
    padding-top: 0px;
}
.login-div {
    width: 35.66666666666666%;
    float: none;
    margin-left: auto;
    margin-right: auto;    
}
.login-text{
    padding-left:32px;
}
.cafe-div{
    padding-left:28px;
    color:black;
}
.td-color{
    color:black;    
}

.resume-td-left{
   width:45%;
   float:left;
   
}
.resume-td-right{
   width:45%;
   float:right;
   
}
.textbox-size{
    height: 50px;
}
.td-background{
    background-color:darkgray;

}
.h1-class{
    font-size: 3.5em;
    color: #343537;
    background-color:white;
    
   
}
.h2-class{
    font-size: 3.5em;
    color: #343537;
    background-color:white;

   
     padding: 11px 33px;
}
.h3-class{
    font-size: 3.5em;
    
    padding: 11px 96px;
}
.div-color{
    /*background-color: #CCC7C4;*/
    width:100%;
}
.form-text {
    width: 160%;
    height: 48px;
    margin: 20px 10px;
}
.btn-style{
    padding: 11px 30px;
}
.thank-class{
    font-size: medium;
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}
.div-padding
{
    margin-left: 1.333333%;
}
.events{
margin: 20px 10px;
}
.envr_left2 {
    float: left;
     width: 50%;
     padding-top: 0px;
}
.contentdesk {
    width: 70%;
    float: left;
     padding-bottom: 10px;
}
.desk-img {
width:30%;
float:left;
padding-top:10px
}

/*To be deleted*/
.col-big{
    position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width:20%;
}

.hovereffect {
    width: 100%;
    min-height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect img {
    min-height: 250px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding: 10px;
  background: #f68932;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin:0px;
}

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 75px 14px;
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 7px;
  line-height: 22px;
}

.hovereffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}
span.estate-deals {
    color: #f68932;
    padding-left: 1%;
}
.sec-para {
    padding: 0;
    margin: 0;
    font-size: 13px !important;
    letter-spacing: 1px;
    color: #000;
}

/*To be deleted*/

.height10 { height: 10px; }
.height20 { height: 20px; }

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-weight: 400;
}

h1  { font-size: 1.5em;
  color: #ffffff;
  background: #343537;
  padding: 10px 8px;
  float: left;
  }
  
h2  { font-size: 24px; color: #333333; }

.templatemo_reasonbg h2, .templatemo_blog h2 {
    color: #ffffff;
    font-size: 28px;
    padding-top: 3%;
    margin-bottom: 1%;
}
.textcenter {
    text-align: center;
    padding: 0 0 3% 0;
    color: #fff !important;
}
.textcenter a {

    color: #fff;
}
.logo img {
    width: auto;
}
img {
    max-width: 100%;  
    height: auto;
    width:100%;
}
.inner-img-part {
    margin: 0 auto;
    text-align: center;
}
.inner-img-part img {
        max-width: 100%;  
    height: auto;
    width:auto;
    text-align:center;
}

.clear  { clear: both;}

.mWrapper {
    width: 100%;
    background-color: white;
    z-index: 5000;
}

.templatemo_top {
  position: fixed;
  z-index: 5000;
  background: #ffffff;
  width: 100%;

}
.residential {
    padding: 6%;
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}
.templatemo_slider {
  top: 60px;
  position: relative;
}
.logo {
  padding: 0 0 0 20px;
  width: 190px;
}
.mainMenu {

}
.mainMenu ul {
  float: right;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 60px;
}
.mainMenu li {
  list-style-type: none;
  display: inline-block;
}
.mainMenu li a {
  display: block;
  text-transform: uppercase;
  color: #939393;
}

#top-menu {
    background: white;
}
#top-menu ul { float: right;}
#top-menu li {
    float: left;
  line-height: 60px;
  display: inline-block;
}

#top-menu a {
    display: block;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: grey;
    text-decoration: none;
  font-size: 13px;
    font-weight:600;
}
.about-section {
    text-align: center;
    color: #333;
    padding: 5% 0px;
    padding-bottom:1%;
}
.about-section p {
    text-transform: uppercase;
text-align: center;
font-family: open-sans, sans-serif;
font-weight: 400;
line-height: 22px;
color: grey;
font-size: 18px;
}
.about-section h2 {
    text-transform: uppercase;
text-align: center;
font-family: open-sans, sans-serif;
font-weight: 700;
color: #000;
line-height: 50px;
font-size: 42px;
padding-bottom:0;
margin-bottom:0;
    }
#top-menu a:hover {
    color: #ffffff;
  background: #F68932;
}
p.quark-info {
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #666666;
    font-size: 16px;
    padding: 1% 0;
    text-transform: lowercase;
    width: 55%;
    margin: 0 auto;
    line-height: 29px;
}
#top-menu li.active a {
    color: #ffffff;
  background: #F68932;
  line-height: 60px;
  font-size: 14px;
}

.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

.templatemo_caption p { color: #ffffff; background: rgba(0, 0, 0, 0.32); padding: 10px; font-size: 12px; }

.templatemo_caption {
  margin-left: 20%;
  text-align: left;
  text-shadow: none;
  top: 25%;
  position: absolute;
  z-index: 10;
  width: 60%;
}

.templatemo_slidetitle  {
  font-size: 1em;
  background: #ffffff;
  padding: 5px 8px;
  color: #202224;
  float: left;
  margin-bottom: -10px;
  -webkit-box-shadow: 1px 3px 13px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow:    1px 3px 13px 0px rgba(158, 158, 158, 0.75);
  box-shadow:         1px 3px 13px 0px rgba(158, 158, 158, 0.75);
}

.templatemo_lightgrey_about {
  background-color: #fff;
  padding: 70px 0px;

}

.templatemo_lightgrey {
  /*background-color: #e9e9e9;*/
  padding: 70px 0px;

}
.font-size{
    font-size: 37px;
}
.templatemo_paracenter { text-align: center; }

.templatemo_about_box {
  background: #e9e9e9;
  border-radius: 5px;
  padding: 20px 0px;
  text-align: center;
}

.square_coner {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 20px;

}
.texts-a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px 30px;
  background: #F68932;
  border-radius: 5px;
  font-size: 32px;
  color: #ffffff;
} 
.font-color {
  
  font-size:12px;
  color: #343537;
} 
.texts-link {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px;
  background: #F68932;
  border-radius: 1px;
  font-size: 18px;
  color: #ffffff;
} 

.hover-box {
    position: absolute;
    top: 0;
    left: 4px;
    width: 92%;
    height: 94%;
  border-radius: 5px;
    background: #F68932;
    visibility: hidden\0/;
    opacity: 0\0/;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transform: rotateY(-90deg) scale(0.8);
    -moz-transform: rotateY(-90deg) scale(0.8);
    -ms-transform: rotateY(-90deg) scale(0.8);
    -o-transform: rotateY(-90deg) scale(0.8);
    transform: rotateY(-90deg) scale(0.8);
}

.project-post:hover .hover-box {
    visibility: visible;\0/;
    opacity: 1\0/;
    -webkit-transform: rotateY(0deg) scale(1);
    -moz-transform: rotateY(0deg) scale(1);
    -ms-transform: rotateY(0deg) scale(1);
    -o-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
}

.inner-hover-box p {
  color: #ffffff;
  padding: 15px 10px;
}

.templatemo_reasonbg {
  background: url(../images/templatemo_reasonbg.jpg) no-repeat;
  background-position: center;
  padding: 30px 0px 70px 0px;
  color: #ffffff;
  text-align: center;
}

.templatemo_reasonbg p {
    color: #ffffff;
    line-height: 26px;
}

.templatemo_reasonbg div.fa {
  font-size: 40px;
  margin: 10px 8px;
}

.templatemo_portfolio {
  padding: 7% 0;
  text-align: center;
}

.templatemo_portfolio p { padding-bottom: 44px; }

.portfolio-thumb { overflow: hidden; position: relative; }

.portfolio-thumb img { width: 100%; height: auto; }

.portfolio-thumb .overlay-p { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #F68932; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.portfolio-thumb .overlay-p a { position: absolute; top: 10%; margin-top: -12px; left: 10%; width: 80%; margin-left: -15px; color: white; text-align: center; }
.portfolio-thumb .overlay-p a ul { text-align: center; margin-top:0.1em;}
.portfolio-thumb .overlay-p a ul li { padding: 0.2em 0em; margin: 0px; width: 100%; list-style: none;}
.portfolio-thumb .overlay-p a ul li.fsmall{ font-size: 0.7em; }

.portfolio-item { margin-bottom: 40px; overflow: hidden; }
.portfolio-item:hover .overlay-p { visibility: visible; opacity: 1; }

.portfolio-title { width: 100%; text-align: center; }
.portfolio-title a { color: #38e395; font-size: 18px; text-transform: uppercase; }


.templatemo_blog {
    width: 100%;
    background: #333537;
    padding:7% 0px;
    color: #ffffff;
    text-align: center;
}
#templatemo_blog h2 {
    padding: 19px 0;
}
.services_blog {
    width: 100%;
    padding: 7% 0px;
    color: #ffffff;
    text-align: center;
}
.templatemo_job {
  width: 100%;
   
  padding: 80px 0;
  color: #ffffff;
  text-align: center;
}

.templatemo_blog p { padding-bottom: 50px; }
.templatemo_wrapperblogbox  { 
  float: left;
}
.templatemo_wrapperblogbox a.fa { 
  padding: 8px;
  background: #c6cfd3;
  color: #ffffff;
  margin: 0px;
  text-align: left;
  float: left;
  font-size: 18px;
}

.templatemo_wrapperblogbox a.fa:hover {
  background: #F68932;
}

.templatemo_wrapperblogbox .tooltip1, .templatemo_wrapperblogbox .tooltip2, .templatemo_wrapperblogbox .tooltip3, .templatemo_wrapperblogbox .tooltip4 {
    display: inline;
    position: relative;
  opacity: 1.0;
  filter:alpha(opacity=100);
}

.templatemo_wrapperblogbox .tooltip1:hover:after, .templatemo_wrapperblogbox .tooltip2:hover:after,
.templatemo_wrapperblogbox .tooltip3:hover:after, .templatemo_wrapperblogbox .tooltip4:hover:after {
    background: #F68932;
    top: 33px;
    color: #fff;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
  font-size: 14px;
  white-space: nowrap;
}
.templatemo_wrapperblogbox .tooltip1:hover:after {
    left: 0px;
}
.templatemo_wrapperblogbox .tooltip2:hover:after {
    left: -33px;
}
.templatemo_wrapperblogbox .tooltip3:hover:after {
    left: -63px;
}

.templatemo_wrapperblogbox .tooltip4:hover:after {
    left: -94px;
}
.templatemo_wrapperblogbox img  {
  width: 100%;
}

.templatemo_blogtext {
    padding: 2% 0;
}
.templatemo_blogtext span.left {
    text-align: left;
    width: 70%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    padding: 0;
}
.templatemo_blogtext span.right {
  text-align: right;
  width: 30%;
  float: left;
}
.templatemo_blogtext span.right a i {
  padding-left: 5px;
  font-size: 9px;
  color: #ffffff;
}
.templatemo_blogtext span.right a:hover i {
  color: #F68932;
}

.templatemo_partner { padding: 80px 0px;}

#prev {
  width: 35px;
  height: 50px;
  position: absolute;
  top: -30%;
  left:0;
  text-indent: -9999px;
  background: url(../images/prev.png)0px -50px no-repeat;
}

#next {
  width: 35px;
  height: 50px;
  position: absolute;
  top: -30%;
  right: 0;
  text-indent: -9999px;
  background: url(../images/next.png)0px -50px no-repeat;
}

#prev:hover, #next:hover {
  background-position: 0px 0px;
}

.partnerWrap {
  margin: 50px 0;
  position: relative;
}
.slideshow { 
  margin: auto;
  width: 80%;
}
.slideshow img { padding: 2px; }
.templatemo_clientwrapper {
  margin: 0 auto;
  float: none;
  width: 500px;
}

.templatemo_clientimage {
  float: left;
  margin-left: 10px;
  margin-top: 80px;
}

.templatemo_clientimage img{
  width: 80px;
  height: 80px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.templatemo_clientimage img:hover { border: 3px solid #69a541; }

.templatemo_clientdes {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  width: 100%;

}
.templatemo_clientimage:hover .templatemo_clientdes {
  visibility: visible;
  opacity: 1;

}
.templatemo_clientimage div.fa  {font-size: 12px; position: absolute;}
.templatemo_clientimage:hover div.fa{ color: #69a541; font-size: 12px; }
.templatemo_clientimage div.mleft1  { left: 40%;}
.templatemo_clientimage div.mleft2  { left: 43%;}
.templatemo_clientimage div.mleft3  { left: 46%;}
.templatemo_clientimage div.mleft4  { left: 49%;}
.templatemo_clientimage div.mleft5  { left: 52%;}

.templatemo_maps {
  margin:  0;
  display: block;
  overflow: hidden;
  height: 365px;
}

.fluid-wrapper {
    position: relative;
    /* padding-bottom: 56.25%;  16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border: none;
}
.addr {

}
.addr ul {
  padding-left: 0;
}
.addr ul li {
  list-style-type: none;
} 
.addr ul li i {
  width: 14px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #00ACE9;
  font-size: 18px;
  text-align: center;
}
.templatemo_footer {
    padding: 0 0px;
    padding-bottom: 2%;
   color:fff;
       padding: 6% 0;
    background-image: url(/Content/images/footer-bg.jpg);
}
.col-xs-6.col-sm-6.col-md-3.templatemo_col12 h2, p, a {
    color: #fff;
}
.templatemo_footer ul {
  float: left;
  margin: 0px;
  padding: 0px;
}

.templatemo_footer ul li {
  padding: 0px;
  margin: 0px;
  list-style: none; 
  color:#fff;
}
.templatemo_footer ul li:before {
    content: "\002022 ";
    color: #F68932; 
  font-size: 2.5em;
    vertical-align: middle;
  line-height: 30px;
  margin-right: 5px;
}
.templatemo_morelink a{
  float: left;
  color: #5d9e30;
  text-indent: 15px;
}

.templatemo_footer span.left {
  float: left;
  color: #F68932;
  font-size: 1.5em;
  text-align: left;
  line-height: 30px;
}
.templatemo_footer span.right {
  float: left;
  color:#fff;
}
.templatemo_bottom .left a:hover {
    color:#f68932;
}
.templatemo_footer .col-xs-1 {
  padding: 0px;
}
.templatemo_footer .col-xs-11 {
  padding: 0px 0px 0px 10px;
}
.templatemo_footer span.left.fa-envelope { font-size: 1.2em;}

.templatemo_bottom  { 
  padding: 15px 0px; 
  width: 100%; 
  background: #000;
  }
.templatemo_bottom .left { float: left;}
.templatemo_bottom .right { float: right;}
.templatemo_bottom .right fa { padding: 15px;}
.templatemo_bottom .right div.soc {
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  background: #c6cfd3;
  color: #333536;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.single-service.wow.zoomIn p {
    color: grey;
}
.product-bg {
    background-image: url(/content/images/product-bg.jpg);
}

.templatemo_bottom .right a:hover div.soc{
  background: #F68932;
  color:#fff;
}
img.heading-icon {
    width: auto;
}
.head-icon img {
    width: auto;
}

#templatemo_flicker {}
#templatemo_flicker ul li:before {
    content: none;
    vertical-align: middle;
}

#templatemo_flicker.ddsmoothmenu ul li a {
  width: 55px;
  height: 55px;
  margin-right: 0px;
}

ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#555; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/templatemo_bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #555; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #555 }

ul.footer_gallery li { display: block; float: left; margin: 0 5px 5px 0 }
ul.footer_gallery li img { }


/* 2-2-2017 ----------- */

.carousel-caption p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.7);
}
.carousel-caption h2 {
    font-size: 39px;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.7);
 
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.col-md-12.text-center h1 {
    text-align: center;
    width: 100%;
    background: transparent;
    padding-top: 4%;
    margin: 0;
    padding-bottom: 0;
}
.single-service {
    display: inline;
    float: left;
    margin-bottom: 30px;
    padding-left: 80px;
    position: relative;
    width: 100%;
    text-align: left;
}
.single-service.wow.zoomIn {
    margin: 6% 0;
}
.carousel-caption {
    top: 36%; !important;
}
.row.contact-section {
    padding: 4% 0;
}
.form-group input {
    width: 48%;
    float: left;
    margin: 0 3% 3% 0;
}

.form-group {
    margin-bottom: 0 !important;
}
#Email {
    margin-right: 0;
    float: right;
}
#Subject {
    margin-right: 0;
    float: right;
}
textarea.form-control {
    height: 165px !important;
    resize: none !important;
}
.row.contact-section button {
   float: right;
margin-top: 4%;
background: #F68932;
border: none;
}
.mainMenu {
        font-size: 17px;
    margin-top: 0px;
    float: right;
    display: block;
    margin-left: 0px;
}
li.dropdown i {
    font-size: 16px;
    margin-left: 3px;
}
ul.dropdown-menu li {
    width: 100%;
    padding: 3% 0;
    margin: 0;
}
div#templatemo_blog p {
    color: #fff;
    margin: 0;
    padding: 1% 0 4% 0;
}
div#templatemo_blog h2 {
    padding: 0;
    margin: 0;
}
div#templatemo_portfolio h2 {
    font-weight: 600;
}
/*.single-service.wow.zoomIn:hover {
    background: #efefef;
}*/
.single-service.wow.zoomIn i {
    padding: 4%;
}
.row {
    margin-right: 0 !imoportant;
    margin-left: 0 !imoportant;
}
.templatemo_footer ul li a {
    color: #fff;
}
.col-xs-6.col-sm-6.col-md-3.templatemo_col12 p {
    color: #fff;
}
.career-bg {
    padding: 3% 0;
}

body.login-bg {
    background: url(/Content/images/slider/quark-login8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.main-bg #Email {
    float: left;
} {
    float: left;
}
.main-bg {
    background: #231F20;
    width: 35%;
    margin: 8% auto;
    display: block;
    float: none;
    z-index: 9999;
    padding: 5% 1%;
    min-height: 400px;
    border-radius: 4px;
}
.main-bg input {
    width: 100%;
    margin: 2% auto;
    display: block;
  
}
    .main-bg input[type="checkbox"] {
        height:auto;
    }


.LOG-IN-BTN {
  background: #f26b3a;
  background-image: -webkit-linear-gradient(top, #f26b3a, #E8581E);
  background-image: -moz-linear-gradient(top, #f26b3a, #E8581E);
  background-image: -ms-linear-gradient(top, #f26b3a, #E8581E);
  background-image: -o-linear-gradient(top, #f26b3a, #E8581E);
  background-image: linear-gradient(to bottom, #f26b3a, #E8581E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 4px;
  font-family: open-sans, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border:none;
}

.LOG-IN-BTN:hover {
  background: #E8581E;
  background-image: -webkit-linear-gradient(top, #E8581E, #d96534);
  background-image: -moz-linear-gradient(top, #E8581E, #d96534);
  background-image: -ms-linear-gradient(top, #E8581E, #d96534);
  background-image: -o-linear-gradient(top, #E8581E, #d96534);
  background-image: linear-gradient(to bottom, #E8581E, #d96534);
  text-decoration: none;
   border:none;
   color:#fff;
}

.tab-content img {
    width: auto;
    text-align: center;
    margin: 0 auto;
    float: none;
    display: block;
}
.tab-content h3 {
    font-size: 25px;
    padding: 2% 0;
    font-weight: 600;
    color: #000;
}
.residential h3 {
    text-align: center;
}
.col-md-12.col-sm-12.col-xs-12.head-icon {
    text-align: center;
}
.residential p {
    padding: 2% 0;
    text-align: center;
}





.main-bg .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: 0;
    width: 47%;
    padding: 0;
    margin: 4px 0;
}
.col-md-offset-2.col-md-10 {
    padding: 0;
    margin: 0;
}
.col-md-offset-2 {
    margin-left: 0;
}
.main-bg h4 {
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.form-control {
    display: block;
    width: 100%;
    height: 48px !important;
}
.jobs-title {
    font-size: 32px;
    padding-bottom: 3%;
    color:#000;
    text-align:center;
}
.apply-label {
    padding: 1% 0;
    font-size: 14px;
    font-weight: 400;
}
.admin-login-page input {
    width: 100%;
   
}
.admin-login-btn {
    text-align: center;
    margin: 3% 0 0 0;
    clear:both;
}
.active-jobs {
    text-align: center;
    background: transparent;
    color: #000;
    font-size: 32px;
    float: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
}
div#divDentalLabContainer {
    padding-bottom: 6%;
}
div#divDentalLabContainer .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: none !important;
}
h2.login-text1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 2% 0;
}
.text-part h4 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-top: 0;
}
.text-part p {
    font-size: 14px;
    line-height: 27px;
    color: #888;
    text-align:justify;
}
.grey-bg {
    background: rgba(142, 142, 142, 0.12);
   
}
.inner-content {
    padding: 3% 0;
}
.inner-img-part ol.carousel-indicators {
    margin-bottom: 0;
    margin-top: 2%;
    display: block;
    float: left;
    position: absolute;
    top: 100%;
}
.inner-img-part .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    
    background-color: #F68932;
    border: 1px solid #fff;
    border-radius: 10px;
}
.inner-img-part.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color:#333537;
}

/* images-hover-effect*/

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

 .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

 .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* images-css*/
.grid {

	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #F68932;
	color: #ed4e6e;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align:left;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background:#000;
	color: #fff;
}







/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {
  /*.mainMenu li a {    
    font-size: 8px;
  }
  #top-menu li a {    
    font-size: 8px;
  }*/
  #top-menu li a  { padding: 0px;}
  #top-menu li.active a {
    color: #ffffff;
  background: #F68932;  
  }
  .templatemo_col12 {
    width: 100%;
    margin-bottom: 5px;
  }

  .hover-box {
    left: 3%;
    width: 89%;
  }
  .templatemo_bottom span.left  { width: 90%; margin-left: 10px;}
  .templatemo_bottom span.right { width: 90%; float: left; margin: 10px;}
}
@media (max-width:600px){
  .templatemo_caption {
    display: none;
  }
}
@media (min-width:500px) and (max-width: 650px){
  .hover-box {
    left: 5%;
    width: 90%;
  }
}
@media (max-width:767px){
    .main-bg {
    background: #231F20;
    width: 100%;
    margin: 8% auto;
    display: block;
    float: none;
    z-index: 9999;
    padding: 5% 1%;
    min-height: 320px;
    border-radius: 4px;
}
    body.login-bg {
    background: url(/Content/images/slider/quark-login8.jpg);
    background-repeat: no-repeat;
    background-size: 100% cover;
}
.record {
    position: relative;
    width: 327px;
    height: 174px;
    overflow: scroll;
    margin: 0 auto;
}
.admin-login-page input {
    width: 100%;
    margin-bottom: 7%;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 4px;
    color: #F68932;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #f68932;
}
.navbar-collapse {
    max-height: 340px;
    padding-right: 0;
    padding-left: 0;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
.carousel-caption h2 {
    font-size: 20px;
   
}
.left.carousel-control {
    display: none;
}
.right.carousel-control {
    display: none;
}
.carousel-indicators {
    position: absolute;
    bottom: 0;
  }
  .carousel-caption {
    top: 0;
}
.carousel-caption p {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.7);
    display: none;
}
.templatemo_bottom .left {
    float: none;
    text-align: center;
    width: 100%;
}
.templatemo_bottom .right {
    float: none;
    text-align: center;
    margin: 2% 0;
}
  .templatemo_col9  { padding: 0px;}
  .templatemo_slider  { top: 0;}
  .templatemo_lightgrey_about { padding-top: 50px;}
  .templatemo_portfolio { padding-top: 50px; }
  .templatemo_blog  { padding-top: 50px;}
    .services_blog  { padding-top: 50px;}
  .templatemo_partner { padding-top: 50px;}
  .templatemo_lightgrey { padding-top: 50px;}
  .templatemo_bottom { padding: 15px; }
  .templatemo_margintop10 {
  margin-top: 10px;
  }
  .mailme {
    
  }
 .logo {
    text-align: center;
    width: 100%;
    padding: 0;
}
  .socials ul {
    float: none;
    text-align: center;
  }
  .mainMenu ul {
    float: none;
    text-align: center;
    line-height: 40px;
  }
  .mainMenu li a {
  padding: 8px 7px;

  }
  #top-menu ul {
    float: none;
    text-align: center;
    line-height: 40px;
    margin-left: 0;
  }
  #top-menu li {
    float: left;
  line-height: 40px;
  width: 24%
}
  #top-menu li a {
  padding: 8px 7px;

  }
  #top-menu li.active a {
    color: #ffffff;
  background: #F68932;
  line-height: 40px;
  }
  
  .teamInfo ul li {
    width: 50%;
  }
  .imgWrp {
    height: 220px;
  }
  .imgWrp:hover {
      height: 220px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0;
  }
  .info3 {
    margin-bottom: 30px;
  }
  
  .templatemo_top { position: static; }
}
.resume-td-right {
    width: 100%;
    float: right;
}
.resume-td-left {
    width: 100%;
    float: right;
}
@media (min-width:768px){
/*  .container {
    width: 750px ;
}*/
    span.tog {
    color: #F68932;
    display: block;
}
  .rmargin  { right: 10%;}
   .socials ul {
    float: none;
    text-align: center;
  }
  .imgWrp {
    height: 160px;
  }
  .imgWrp:hover {
      height: 160px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0px;
  }
  #box-img_testimonial a {
    width: 40px;
  }
  .opener span:before,
  .opener span:after {
    width: 30%;
  }
  .info3 {
    margin-bottom: 30px;
  }

}
@media (min-width:600px) and (max-width:769px){
  h1  { font-size: 1em;}
  .templatemo_slidetitle { font-size: 0.8em;}
  .templatemo_caption { font-size: 12px; top: 170px;  width: 90%; margin-left: 5%; }
  .rmargin  { right: 3%; }
  .btn  { font-size: 12px; padding: 3px 5px;}
  }
@media (min-width:768px) and (max-width:992px){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 11px;
}
    .logo {
    padding: 0;
    width: auto;
}

   h1 { font-size: 1em;}
  .templatemo_slidetitle { font-size: 0.8em;}
  .templatemo_caption { font-size: 12px; margin-left: 15%; top: 18%;}
  .btn  { font-size: 13px; padding: 3px 5px;}
  .templatemo_container {
  width: 100%;
  }
  
  .templatemo_container .mainMenu li a { 
  padding: 5px;
  }
  .templatemo_margintop10 {
  margin-top: 6px;
  }
  .carousel-caption h2 {
    font-size: 23px;
   
}
.carousel-caption p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.7);
}
.carousel-indicators {
    bottom: 0;
}
.col-xs-6.col-sm-6.col-md-3.templatemo_col12 {
    margin-bottom: 3%;
}
.col-xs-6.col-sm-6.col-md-1.templatemo_col12.empty {
    display: none;
}
.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 75px 14px;
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 7px 0;
  line-height: 22px;
}
.main-bg {
  background: #231F20;
  width: 63%;
  margin: 5% auto;
  display: block;
  float: none;
  z-index: 9999;
  padding: 2% 1%;
  min-height: 313px;
  border-radius: 4px;
}
}
@media (min-width:992px) {
/*  .container {
    width: 970px ;
}*/
  .imgWrp {
    height: 190px;
    opacity: 0.5;
  }
  .imgWrp:hover {
      height: 220px;
      opacity: 1;
      margin-top: -15px;
  }
  .txtarea {
    margin: 0;
  }
  #box-img_testimonial a {
    width: 50px;
  }
  .opener span:before,
  .opener span:after {
    width: 45%;
  }
  .socials ul {
    float: right;
  }

}

@media only screen 
and (min-device-width : 320px) 
and (max-width : 540px) {
  .templatemo_clientwrapper { width: 320px; font-size: 12px;}
  .templatemo_clientwrapper .next{ margin-top: 20px;}
  .templatemo_marginleft50  { margin-left: 50px;}
  .templatemo_clientimage div.fa  { display: none;}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #slider-direction-nav,
  #slider-control-nav { opacity: 1; }
}

/*-----table-------*/






#page-wrap {
margin: 50px;
}




table { 
width: 100%; 
    
border-collapse: collapse; 
  
}
  /* Zebra striping */
  


tr:nth-of-type(odd) { 
    
background: #eee; 
  
}
  


th { 
background: #333; 
  
color: white; 
  
font-weight: bold; 

}


td, th { 
  
  padding: 6px; 
  
  border: 1px solid #ccc; 

    text-align: left; 

  }
















